[2019-11-26 19:43] lorenanicole opened #1 "Rebuilding the PyLadies website & blog"
# Overview

The PyLadies blog has long been inactive on pyladies.com. We should develop a strategy for how to: brand the blog, recruit writers, and develop an outreach strategy for soliciting content. Below are a few questions to help kick off discussion.

## Questions for Discussion

- What should the mission of the PyLadies blog be?
- How does someone submit an article to the blog?
- What does o

[2019-11-26 22:52] Marie-L commented on #1
@lorenanicole I'm interested in helping out with this. I can start off by researching other similar blogs, find out what works etc. and then create a projects board to start planning how to tackle this. What do you think ?

[2019-11-26 23:10] Marie-L opened #2 "Encouraging all chapters to support & engage remote learners"
# Overview

The Pyladies remote chapter aims to provide learning materials for learners all around the world, however I would like to investigate whether this model could be integrated into every pyladies chapter.

## Things to think about

- how can pyladies remote webcasts be accessed more easily (i.e slack, pyladies blog etc)?
- what are the practicalities of each chapter documenting their work

[2019-11-26 23:19] eyspahn commented on #2
One thought I had: on the revamped blog, we could have a weekly feature where we post a past conference talk by a PyLady. We could ask chapters to suggest videos their members participated in or attended.

[2019-11-27 02:09] lorenanicole commented on #1
I think it would be great to put some vision together for sure! But, I would suggest keeping the research focused to tangible action items. Want to start an issue @Marie-L that outlines your objectives for any research?

[2019-11-27 23:06] Marie-L commented on #2
@eyspahn Yes, that's a great idea ! Maybe we could put out a slack poll on each chapter's channel to find out for example which past conferences people would like to be featured etc. What do you think ?

[2019-11-27 23:39] Marie-L commented on #1
@lorenanicole yes I definitely agree ! Ok, I'll do a bit of brainstorming and then will raise a new issue. Thanks!

[2019-12-02 21:30] Marie-L opened #3 "Research PyLadies & other programming websites"
# Plan
_Each task has been separated into issues, please select one and assign yourself_
- [x] #5 Make a list of the current contributors / editors of the blog
- [x] #6 find out whether processes for contributing have been documented
- [x] #7 Write use cases
- [ ] #8 write PyLadies blog case study
- [x] #9 Search for a few blogs which have similar use cases
- [ ] #10 Write case studies for each
-

[2019-12-02 21:31] Marie-L commented on #1
hey @lorenanicole [here ](https://github.com/pyladies/project-communications/issues/3) it is

[2019-12-03 09:45] voru588 opened #4 "Request to Join Project Communications: @voru588"
_This template should be used (edited) for PyLadies members that wish to join the Project Communications team.

**Proposed Team Member Details**

Name | GitHub Handle | PyLadies Chapter | Team Role
| Alena | @voru588 | PyLadies Paris | Member

**Why do you want to join the PyLadies Project Communications team?**
Hello everyone,
I am from Paris chapter and I would like to help.
I am still pretty ne

[2019-12-03 17:32] lorenanicole commented on #4
@AbigailMesrenyameDogbe I added you onto this issue as you are helping co-lead this project team.

[2019-12-03 17:35] lorenanicole commented on #3
@Marie-L I love this! Do you plan on doing all this research yourself? Or would you like help on specific line items? For example you can assign names for each bullet in your list ... additionally do you have a deadline for when these items should be done?

My proposal would be you can use this as a tracking issue and each bullet point on your list can be a GitHub issue where you present the findi

[2019-12-03 17:36] lorenanicole commented on #3
Some feedback on the items ...

What do you mean by use cases for the blog? Do you mean for rebuilding the blog website?

[2019-12-03 17:37] lorenanicole commented on #1
@Marie-L btw you can use `#` and then start typing the title of your issue to directly link to it!

[2019-12-04 12:29] Caaddss commented on #4
Hi @voru588 do you on the Pyladies Slack??

[2019-12-04 18:26] voru588 commented on #4
Hi @Caaddss , Yes, I am. I joined yesterday)

[2019-12-04 21:32] Marie-L commented on #3
Hey @lorenanicole, Thank you for your feedback !

It would be great to get some help, if anyone is interested but if not then I don't mind doing it alone. So yeah, if people volunteer their time then I would be happy to assign each person to each bullet point, that's a great idea !

By use cases I mean for example _"The user needs to access the PyLadies google map (on the locations page) to find t

[2019-12-04 21:34] Marie-L commented on #1
@lorenanicole sure! Thanks for the tip !

[2019-12-04 22:52] Caaddss commented on #3
@Marie-L continuous your example...do you think something like find closest meetup too??

So I can help you, but I need understand better your idea...maybe follow @lorenanicole  about open one issue to each point

[2019-12-04 23:01] Marie-L commented on #3
Hey @Caaddss, that's a great idea !

Ok sure, I'll create an epic separating each point by issue hopefully before the end of the week. Thank you for your feedback !

[2019-12-05 09:52] Caaddss commented on #3
@Marie-L Want help opening issues?

I can open, based in this issue and you edit after with some details... what do you think?

[2019-12-05 10:56] Marie-L commented on #3
Thanks for the offer @Caaddss, but don't worry 😉. I'll do it quickly but please feel free to edit etc

[2019-12-05 11:13] Marie-L opened #5 "Make a list of the current contributors / editors of the blog"

[2019-12-05 11:14] Marie-L opened #6 "find out whether processes for contributing have been documented"
Question: How do we write, review, and publish new blog posts?

Looking for existing documentation on blog management or blog publishing.

[2019-12-05 11:14] Marie-L opened #7 "Write use cases & user stories"
### **Use Cases**
_NOTE: these are the main ones identified but we can add more (or include more details) in future _ . For more info on [Use cases](https://www.usability.gov/how-to-and-tools/methods/use-cases.html) and [User stories](https://www.gov.uk/service-manual/agile-delivery/writing-user-stories)

**Use Case** |Access about page  |
-- | --
**Actor** | User
**Trigger** | The user discovers

[2019-12-05 11:14] Marie-L opened #8 "write PyLadies blog case study"

[2019-12-05 11:14] Marie-L opened #9 "Search for a few tech community group sites which have similar use cases"
Research tech community groups which have similar aims and use cases to PyLadies and compile a list.

[2019-12-05 11:14] Marie-L opened #10 "Write case studies for each blog researched"
Following on from #9, I will document here my research for the platforms listed below:
- [ ] [Women Who code](https://www.womenwhocode.com/)
- [ ] [Women Techmakers](https://www.womentechmakers.com/)
- [ ] [Django Girls](https://djangogirls.org/)
- [ ] [Rails Girls](http://railsgirls.com/)
- [ ] [Node Girls](https://nodegirls.com/)

[2019-12-05 11:14] Marie-L opened #11 "List action points which are a direct result of the research"

[2019-12-05 11:22] Marie-L commented on #3
@Caaddss @lorenanicole I realised after that an epic can only be created using the zenHub plugin, so I created each issue and added the links manually to the first comment

[2019-12-05 11:24] Caaddss commented on #3
@Marie-L AWESOME!!! thank you!!!

[2019-12-05 11:28] Marie-L commented on #3
@Caaddss no problem 😊!

[2019-12-05 12:57] lorenanicole commented on #3
@Marie-L there are Project boards in GitHub! Here you go: https://github.com/pyladies/project-communications/projects.

[2019-12-05 13:05] Marie-L commented on #3
Thanks @lorenanicole , I'll create another here and delete the previous one

[2019-12-05 21:04] Caaddss commented on #5
Do you think that list should be divide for chapters/regions?

[2019-12-06 10:08] Marie-L commented on #5
@Caaddss yes, great idea !

[2019-12-06 12:31] Caaddss commented on #5
@Marie-L So, let's do it!!!

[2019-12-06 14:08] Marie-L commented on #5
@Caaddss ok sure 😃!

[2019-12-07 01:57] albendz opened #12 "Request to Join Project Communications: albendz"
_This template should be used (edited) for PyLadies members that wish to join the Project Communications team.

**Proposed Team Member Details**

Name           | GitHub Handle | PyLadies Chapter               | Team Role    | Pyladies Slack
-- | -- | -- | -- | --
Alicia Bendz |  @albendz        | None (I'm in Philadelphia) | Contributor | abendz

**Why do you want to join the PyLadies Project Com

[2019-12-07 16:09] Caaddss commented on #12
@albendz Hi girl!!!  How are you?!! Its amazing your idea and interesting to colaborator with us!! Thank you for that!! We going to go discuss about the project Monday!! Do you see on the channel?

[2019-12-07 17:21] albendz commented on #12
Got it and I've filled out the survey - thank you!

[2019-12-09 16:57] albendz commented on #2
We can consider a Pyladies Twitch channel for remote presentations and chat from the community. I've seen several developers do coding streams on the platform.

[2019-12-09 17:45] lorenanicole commented on #12
@albendz you've been invited to https://github.com/orgs/pyladies/teams/communications! Thanks for reaching out and you're ✅ !

[2019-12-09 17:45] #12 closed

[2019-12-09 17:54] Marie-L commented on #2
Nice idea @albendz ! Could we discuss this more at the next meeting ?

[2019-12-09 23:19] albendz opened #13 "Criteria and Workflow for New Members and Approvals"
Project communications would like new members to apply to join our group through a GitHub issue. We need to define criteria for a new member joining. For example:
* Reasonable command of written and spoken English
* Membership in PyLadies
* Specific project of interest by adding a link to an issue they're interested in within this project
* etc.

Once a Github issue has been opened, we need an app

[2019-12-10 12:00] Caaddss commented on #4
@lorenanicole she participated with us yesterday...could you invite her to team, please?

[2019-12-10 12:10] Marie-L commented on #13
Some really great points here, thanks for raising this issue @albendz !

[2019-12-10 17:16] lorenanicole commented on #4
@voru588 adding you momentarily. Please look in your inbox for an invite to the PyLadies Comms Team - https://github.com/orgs/pyladies/teams/communications.

[2019-12-10 17:17] #4 closed

[2019-12-10 22:27] Marie-L commented on #13
Hey @albendz ,Abigail and I have already started discussing best practices and work flow for the team. We would like to share with you our work so far, so please us know when you are available to discuss this in more detail.

[2019-12-10 23:00] Marie-L opened #14 "Create a communications team calendar"
Set up a a cross chapter calendar so that our team knows what workshops/talks are being planned etc. This will support ticket #2

[2019-12-10 23:02] Marie-L commented on #14
Hey @Caaddss we spoke about this briefly before, are you still interested in helping out ?

[2019-12-10 23:37] Marie-L opened #15 "create team wiki"
my initial idea was to create a wiki for our team, but after more thought it didn't seem necessary because we could just save 'wiki' type files in our main repo like the other teams do

[2019-12-10 23:37] Marie-L opened #16 "update README.md"
- [x] add team members
- [x] areas
- [x] slack channel link
- [x] schedule plan

[2019-12-11 10:17] voru588 commented on #13
Hello everyone,
Also, do we want to see their LinkedIn before making the decision?
Just an idea)

[2019-12-11 10:44] Marie-L commented on #13
Hey @voru588, what kind of information would you like to see on their profiles? I think we should try to not to screen people in a way that an employer would. We want to encourage people to take part and we want them to feel at ease 😊. What do you think ?

[2019-12-11 10:48] AbigailMesrenyameDogbe commented on #13
Seeing their linkedin profile is not a bad idea. But i think we could ask questions like "could you kindly share a link to your profile or a project you have worked on in this field you have chosen?"

[2019-12-11 12:16] Caaddss commented on #14
@Marie-L Yes!!! Lets do it happens :)

[2019-12-11 12:56] Marie-L commented on #15
I've now created the first _wiki_ dir [here](https://github.com/pyladies/project-communications/tree/master/user-manual-for-me) and I plan to create directories for each area or theme. Please let me know what you think @AbigailMesrenyameDogbe

[2019-12-11 13:00] Marie-L commented on #16
Hey @AbigailMesrenyameDogbe, when you have time please have a look [here](https://github.com/pyladies/project-communications) let me know what you think

[2019-12-11 13:16] AbigailMesrenyameDogbe commented on #15
Great

[2019-12-11 13:34] Marie-L commented on #14
@Caaddss Ok great! I'll assign you and let's discuss how to go about this. I think google or mac calendar would be a good but you mentioned creating a python calendar. Could you please explain this in more detail ?

[2019-12-12 08:09] voru588 commented on #13
@Marie-L @AbigailMesrenyameDogbe Both of you have excellent points. Maybe adding an option to state a number of years of experience with Python (for stats, for example), so even if the person has less than a year of experience, but wants to contribute, she will not be discouraged from applying.

So far, being a PyLadies member and the English language are the main criteria for the application?

Al

[2019-12-12 08:28] voru588 commented on #3
Ok, I am not sure where I should ask my question.
Why do we need to divide the blog into chapters? I think that the global news will be interesting for everyone. Plus, it will be easier to find contributors globally.
However, we can have "Local chapter news" as a separate section for local meet-ups and the latest news as they will be less frequent than in the main section.

[2019-12-12 16:06] Caaddss commented on #14
We can use the Google API to make a Calendar

Python has a module calendar, but I dont know if support add events...

The other possibility is using generate calendar with markdown...we could create a template to add events

[2019-12-12 16:09] lorenanicole commented on #3
@voru588 is there somewhere that a proposal exists for a local vs chapter news section? I don't readily see it on this issue.

[2019-12-13 10:57] Marie-L commented on #14
@Caaddss these are nice ideas but let's try to use a tool that will be quick to set up, easy for everyone to use and also can integrate well with other applications. I came across this article about the [google calendar](https://wiredimpact.com/blog/8-reasons-to-use-google-calendar/), when you have time please let me know what you think

[2019-12-16 11:55] Caaddss commented on #14
@Marie-L sure!!

we can use google calendar, for me its ok

[2019-12-16 14:00] Caaddss commented on #14
the good point to google calendar is: we can integrate with slack

[2019-12-17 16:06] willingc opened #17 "Create Getting Started with ... and Next Steps with ... pages or cheatsheets"
Create a topic pages to help share resources that can be helpful for getting started:

- web development
- data journalism
- scientific computing
- data science
- embedded systems CircuitPython/RPi/Micropython
- documentation and translation

[2019-12-17 16:11] BethanyG commented on #17
@Jadamoureen  - @Marie-L  and the communications team has expressed interest in working on this - and would welcome help!  I've transferred the issue to the communications team repo, and you can join the team from the links on this issue:  https://github.com/pyladies/project-communications.

[2019-12-17 20:23] lorenanicole commented on #17
I have some things I can contribute here actually it's basically my next blog post on "where to get started in data science", heh.

My proposal @Caaddss and @Marie-L is we start the writeup as a google doc that we all have edit powers to. From there we can issue a PR and add to the appropriate place ... probably the github.com/pyladies/chapter-resources repo.  Adding to the blog would then point t

[2019-12-17 20:30] Caaddss commented on #17
UHSAUHASUHUASH @lorenanicole you are very fast, I can barely see your movements UHAUSHUASHUAHS

I was thinking of a folder in the drive, then you could divide by subject, and I think it is more organized, what do you think?

[2019-12-17 21:20] eyspahn opened #18 "Future post: How PyLadies can help you find a job / change careers / etc"
Thinking about a post on how PyLadies can help people find jobs and change careers. Things like finding mentors, providing speaking and learning opportunities, helping put you in touch with companies interested in hiring women, etc. Also, advice on how best to take advantage of these opportunities, especially for people coming from non-traditional backgrounds.

This is also an opportunity to encou

[2019-12-17 22:15] lorenanicole commented on #17
@Caaddss that's what the https://github.com/pyladies/pyladies-chapter-resources repo is! We don't want to just keep things in Google Drive (as an example) because it would limit how it is discoverable. By publishing a repo with a set of listed resources we are making it available to the public to find!

[2019-12-18 12:09] Caaddss commented on #17
@lorenanicole OW..sure!! Sorry!!!

[2019-12-19 21:47] Marie-L commented on #13
@voru588 Thank you for your suggestions ! My apologies as I've just seen this now. Myself, @AbigailMesrenyameDogbe & @albendz had a meeting about this yesterday. Please find the notes [here](https://docs.google.com/document/d/1KyyJCymQ27-8qQXkW2SDVs2HbhxEUkA_fugTa2c6SwQ/edit?usp=sharing). I think it would be good to have another meeting after the holiday period to continue discussing this further.

[2019-12-20 23:15] Marie-L commented on #14
the link for our new calendar is [here](https://calendar.google.com/calendar/embed?src=pyfound.org_3boidhk6jdjo6df9hootc64r90%40group.calendar.google.com&ctz=America%2FChicago)

[2020-01-01 23:53] albendz opened #19 "Investigate Video and Voice Communications"
In addition to newsletters and blog posts, we can look into using voice chats, like Discord, or video streaming, like Twitch, for remote devchats, code-alongs, presentations, etc.

These could also intersect with chapter specific events where chapters can stream their PyLadies talk nights.

This issue can be resolved when:
* We've decided if we want to invest in this type of communication
* We hav

[2020-01-01 23:58] albendz opened #20 "Investigate Social Media for PyLadies Communications"
Let's look into what social media we'd like to be involved in, if any. Instagram and Twitter are commonly used by other organizations like Women Who Code. A separate issue is open to investigate voice and video streaming #19

This issue can be resolved when:
* We've identified what platforms we want a presence on
* Types of content we want to produce

Follow up issues can be created as needed for

[2020-01-02 00:24] albendz commented on #6
@lorenanicole Do you know where the pyladies blog accounts/documentation exists if at all?

[2020-01-02 15:50] willingc commented on #17
Thanks @BethanyG for taking the ball and running with this.

[2020-01-08 17:12] lorenanicole commented on #6
The old PyLadies blog (what is found on pyladies.com) has info in the main PyLadies GitHub repo in the README here - https://github.com/pyladies/pyladies#to-contribute-to-the-repository which points to https://github.com/pyladies/pyladies/blob/master/CONTRIBUTING.md.

Is that what you wanted @albendz ?

[2020-01-09 09:51] Marie-L commented on #16
The most important information has been added so I'll close this ticket. We can update it with new information as we go along

[2020-01-09 09:51] #16 closed

[2020-01-09 09:56] Marie-L commented on #15
The idea to create directories within the repo for each area or theme has been agreed and implementation has begun so I will close this ticket.

[2020-01-09 09:56] #15 closed

[2020-01-09 10:08] Marie-L commented on #6
@lorenanicole thanks for the links !

[2020-01-10 11:52] voru588 commented on #20
I can do a bit of research before our next meeting next week.

[2020-01-13 08:46] Marie-L opened #22 "After an issue is opened, who will and when will we be adding new folks to the GitHub team"
this issue is focusing on just one section of issue #13

[2020-01-13 08:56] Marie-L commented on #22
@AbigailMesrenyameDogbe and I have agreed on the following:

- Co-leads must respond to new requests/ applications in 2 weeks
- New members can only be added at the start of each quarter

- Q1  January 1, 2020 to March 31, 2020
- Q2  April 1, 2020 to June 30, 2020
- Q3  July 1, 2020 to September 30, 2020
- Q4  October 1, 2020 to December 31, 2020

[2020-01-13 09:27] Marie-L commented on #14
**Instructions:**
Add calendar events by issuing a Slack command. for example typing out `@pyladies-bot create event: Vancouver meetup  Feb 28 5 pm GMT` will add an event to the **PyLadies Event calendar**.

[2020-01-13 09:33] Marie-L commented on #14
The calendar has now been set up so this issue will be closed

[2020-01-13 09:33] #14 closed

[2020-01-16 18:40] lorenanicole opened #24 "PyLadies Global Council Election Comms Strategy 2020"
# Overview

Tracking issue to track the PyLadies Global Council Election Comms Strategy 2020.

*What is the background for this work?*

PyLadies is hosting an election for the inaugural 2020 PyLadies Global Council. The election will be a public election and nomination as decided [here](https://github.com/pyladies/global-organizing/issues/50). The proposed timeline for the election is [here](https

[2020-01-16 18:55] lorenanicole opened #25 "PyLadies Chapter Social Media Guidelines"
# Overview

PyLadies doesn't have a set of guidelines to offer chapters for how they use social media, it would be great to provide this to help community organizers know how to build their chapter while also being on brand.

## Scope of Work

Some questions to think about for what guidelines would look like:
- What is the appropriate use of social media?
- How do we use social media to build a ch

[2020-01-17 02:12] albendz commented on #25
I'd like to help with this but I haven't done anything similar before. I can take a stab at creating a draft. How does that sound?

[2020-01-17 03:58] lorenanicole commented on #25
@albendz thats awesome! This is meant to be a collaborative doc. Some places to maybe look to start ... check out R Ladies! See: https://github.com/rladies/starter-kit/blob/master/Social_Media_Guide_for_Chapters.pdf.

[2020-01-17 12:14] Caaddss commented on #24
Sure!! Its good saw this [issue](https://github.com/pyladies/global-organizing/issues/58#issue-551167131) too

[2020-01-20 13:51] Marie-L opened #27 "add monthly meetings directory to repo"

[2020-01-20 13:53] Marie-L commented on #27
[Pull Request](https://github.com/pyladies/project-communications/pull/26)

[2020-01-20 14:21] Marie-L commented on #24
@lorenanicole, thanks for creating this issue! There's quite a lot in here so I think that it would be best to turn this into an epic and separate it into separate issues, what do you think ?

[2020-01-21 16:20] lorenanicole commented on #24
@Marie-L however you all see fit! That said, I do love a tracker issue since we can use it as the final ✔️ list for ensuring all units of work done. But if you want to move into a project board, sure. Can we actually use a GitHub project board then? Looking for Google Docs can be hard to find ergo making this work not transparent .

[2020-01-22 15:12] Caaddss commented on #24
@lorenanicole  Im confusing about database and procedure to registration...will be like PSF members? I read the issues but isnt clean to me the process

[2020-01-23 00:07] Marie-L commented on #24
@lorenanicole ok great! Yeah I'll add the issues to our current project board (unless you would like me to create a separate one for this strategy).

@Caaddss once the issues are broken down into smaller ones then we can clarify the details of each sub category and the fulfilment criteria

[2020-01-29 21:55] Marie-L commented on #22
@AbigailMesrenyameDogbe and I have also agreed to review the projects board together once a week in order to ensure that things are being dealt with in a timely manner.

Therefore, I will close this ticket.

[2020-01-29 21:55] #22 closed

[2020-01-29 22:04] Marie-L commented on #27
The pull request has now been merged and the files can be found [here](https://github.com/pyladies/project-communications/tree/master/monthly_meetings)
therefore, I'll close this issue.

[2020-01-29 22:04] #27 closed

[2020-02-10 23:42] albendz opened #29 "Slack Engagement"
Let's define ways we can regularly engage with the Slack community. Please comment on this issue with ideas on how this could look.

Some initial thoughts:
* Slackbot announcements for cross community updates
* Regional channel "ownership" - where there is a chapter, we encourage leaders to post in the slack channel regularly about events and updates
* Channel moderators? I'm not sure if this is a

[2020-02-11 18:27] albendz commented on #20
@voru588 Any updates? I want to make sure I don't repeat your work for this issue

[2020-02-11 18:28] albendz commented on #6
Yes! Thank you @lorenanicole . I will add these links in our docs and then close this issue with that MR.

[2020-02-11 20:00] albendz commented on #19
Something I've seen occurring are remote book clubs where people jump on a call and discuss. An example for Javascript: https://dev.to/madisonkanna/join-our-javascript-book-club-l4k

I'm in that discord group but the tricky part is that it's very similar to slack aside from the focus on voice calls.

[2020-02-11 20:10] albendz commented on #19
We already have some Youtube Channels: https://www.youtube.com/results?search_query=pyladies&sp=EgIQAg%253D%253D

That's probably the best thing to invest in for video comms since we're already using it. This channel might be a good reference since it is a fully remote community: https://www.youtube.com/channel/UCyVogtilYlp1B1ZeFdnmDxQ

Some follow up items to create issue for:
1. Do we want to cr

[2020-02-12 08:38] voru588 commented on #20
@albendz , Sorry, could not get to it. I think I went over my head
Anyway, thank you for checking with me.

[2020-02-12 21:47] #6 closed

[2020-02-19 00:42] albendz commented on #20
Sure - do you think you'll have time later or should I unassign? @voru588

[2020-02-20 19:45] lorenanicole commented on #24
We've started writing the content here, thanks @AbigailMesrenyameDogbe for tstarting this https://docs.google.com/document/d/1Lt7OmbjvQCybfcQ5sclGW2pbrr1zAzGM-t5vlLmMtdw/edit?ts=5e4d62b8!

[2020-02-26 21:31] Marie-L commented on #24
hey @lorenanicole, regarding _[FEB 15 2020] Announcement for registering to be a PyLadies member_ how can a person register to be a pyladies member, what's the current process ? We've missed this deadline, so please let me know asap so that we can make the announcement maybe this week

[2020-02-26 21:36] Marie-L commented on #24
@lorenanicole @Caaddss @AbigailMesrenyameDogbe I think that the announcements should consist of a basic graphics type ad, what do you all think ? or is a text post enough? Also @lorenanicole, who is in charge of the pyladies social media accounts and psf blog?

[2020-02-26 21:47] Marie-L opened #32 "Write blog post for new initiative to encourage people to open an issue instead of emailing pyladies.com"
Blog post for the the following initiative :

[blog post PR](https://github.com/pyladies/pyladies/pull/449)

[2020-02-26 22:32] Marie-L opened #33 "Election Comms Strategy : advert artwork & copy"
social media copy PR : https://github.com/pyladies/project-communications/pull/38

[2020-02-26 22:32] Marie-L opened #34 "Election Comms Strategy : Non-publishing work"

[2020-02-26 22:32] Marie-L opened #35 "Election Comms Strategy : member registration announcement"
create artwork for :

- [x] registration announcement
- [x] open call for nominations
- [x] general campaign announcements

NOTE: colours, layout or copy can be changed. Feedback will be much appreciated. Thanks !

![Student Council Elections EMail Header](https://user-images.githubusercontent.com/27898533/88885846-2be6d500-d231-11ea-8f6d-403dd2f330a2.png)

[2020-02-26 22:33] Marie-L opened #36 "Election Comms Strategy : election announcement"
New deadline is Friday 15th May

[2020-02-26 22:33] Marie-L opened #37 "Election Comms Strategy : election results announcement"

[2020-02-26 22:40] Marie-L commented on #24
**Epic**  _(will be fleshed out in the coming days)_:
- [ ] Election Comms Strategy : advert artwork & copy #33
- [ ] Election Comms Strategy : Non-publishing work #34
- [ ] Election Comms Strategy : member registration announcement #35
- [ ] Election Comms Strategy : election announcement #36
- [ ] Election Comms Strategy : election results announcement #37

[2020-03-04 15:17] lorenanicole commented on #24
@Marie-L the first blog post announcement to do the pyladies member registration is in a PR on the pyladies website, @pyladies/tech-and-infra-admins are the folks who have permissions for that repo.

[2020-03-06 00:36] Marie-L commented on #33
@AbigailDogbe, can we use the same copy for the Pyladies blog on Python Software Foundation blog too ?

[2020-03-06 00:38] Marie-L commented on #24
@lorenanicole , @AbigailDogbe, @Caaddss [PR for social media announcement](https://github.com/pyladies/project-communications/pull/38)

[2020-03-06 08:36] AbigailDogbe commented on #33
Yes i think so. We surely can.

[2020-03-06 19:34] Marie-L commented on #33
by @AbigailDogbe
![Red Women's Beauty Facebook Post](https://user-images.githubusercontent.com/27898533/76116175-709f7480-5fe1-11ea-8d2f-d09c607cce57.png)

[2020-03-06 21:07] Marie-L commented on #33
updated version :
![PyLadies notice (4)](https://user-images.githubusercontent.com/27898533/76122641-73549680-5fee-11ea-9057-c83e07799c82.png)

[2020-03-06 21:08] Marie-L commented on #33
@AbigailDogbe ok great, @lorenanicole how can we access the PSF blog to make the announcement ?

[2020-04-20 19:16] kittylon opened #42 "Request to Join Project Communications: Kittylon"
_This template should be used (edited) for PyLadies members that wish to join the Project Communications team.

**Proposed Team Member Details**

Name | GitHub Handle | PyLadies Chapter | Team Role
| Carolina Londoño| Kittylon| Amsterdam| Member

**Why do you want to join the PyLadies Project Communications team?**
Because I want to encourage woman around the globe to be accomplished in their care

[2020-04-21 14:25] Marie-L commented on #42
@kittylon Thank you for submitting your request! @lorenanicole, when you have time can you please add her to the repo ?

[2020-04-26 21:20] albendz commented on #19
We already have a youtube channel here: https://www.youtube.com/channel/UCfW2SBqLpcfXS1c3_1ZOoxw

Closing since we now have the youtube channel.

[2020-04-26 21:20] #19 closed

[2020-05-08 15:26] lorenanicole commented on #42
@kittylon done!

[2020-05-08 15:26] #42 closed

[2020-05-08 16:40] Marie-L opened #45 "Twitter review policies"
**Summary**

we need to decide on criteria for approving requests for twitter and or other social media channels

**Acceptance Criteria**

This issue can be resolved when:
- we have defined a criteria
- we also have planned a workflow

Ideally this should be completed before the next meeting in June.

**Do you want to work on this issue (Yes/No)?**

yes

cc / @pyladies/communications

[2020-05-10 19:40] albendz commented on #1
Created https://github.com/pyladies/pyladies/issues/475 in the infrastructure project to look into this

[2020-05-13 22:37] Marie-L commented on #45
@AbigailDogbe do you have any suggestions ? Let's discuss before this weeks announcement

[2020-05-13 22:40] #13 closed

[2020-05-13 22:44] Marie-L commented on #45
@AbigailDogbe also let's take a look at #20

[2020-05-13 22:48] Marie-L commented on #33
this issue has now been completed

[2020-05-13 22:48] #33 closed

[2020-05-13 22:53] Marie-L commented on #45
@ and this #25

[2020-05-15 22:34] Marie-L commented on #36
[Pull Request](https://github.com/pyladies/project-communications/pull/46)

[2020-06-02 19:18] Marie-L opened #47 "Monthly Comms Team Meeting: Feb 14th 2020"
## Monthly Comms Team Meeting

**Attendees:**
- @Marie-L
- @AbigailDogbe

**Date:**
- February 14th 2020

### Agenda

_Please add items as needed. If you add a topic please make sure to attend the meeting._
**NOTE: Topics for discussion have been carried over from January, extra comments have been added relating to this months objectives or progress**
**Topic for discussion** | **Sub Topic** | **N

[2020-06-02 22:25] Marie-L opened #48 "Monthly Comms Team Meeting: May 8th & 15th 2020"
## Monthly Comms Team Meeting

**Attendees:**
- @Marie-L
- @AbigailDogbe
- @lorenanicole
- @BethanyG
- @albendz
- @kittylon

**Date:**
- May 8th & May 15th 2020

**Previous meeting issue link:**

- #47

### Agenda
_Please add items as needed. If you add a topic please make sure to attend the meeting._

**Topic for discussion** | **Sub Topic** | **Notes** | **Action points** | **Person Responsible*

[2020-06-10 00:56] albendz commented on #48
Task opened in infra repo: https://github.com/pyladies/pyladies/issues/475

[2020-06-10 21:54] Marie-L opened #49 "Rebranding PyLadies"
Let's explore ideas regarding the redesign of the website and overall PyLadies brand

**Areas for discovery**

- [x] colour palette

- [ ] PyLady

- [ ] PyLadies typeface

- [ ] pyladies.com UI designs

**Acceptance Criteria : Deliverables**

- [ ] colour palette sheet

- [ ] PyLady rebranding ideas

- [ ] Typeface rebranding ideas

- [ ] UI design

**Do you want to work on this issue (Yes/No)?**

[2020-06-11 01:42] willingc commented on #5
Thanks @Marie-L :cake:

[2020-06-11 15:21] Marie-L commented on #5
you're welcome @willingc 😊

[2020-06-11 15:28] Marie-L commented on #9
1. Women Who Code
2. Django Girls
3. Node Girls
4. Rails Girls

[2020-06-11 15:31] Marie-L commented on #9
Research for the list above will be completed in #10

[2020-06-11 15:59] lorenanicole commented on #5
@Marie-L perhaps you can add this to a `CONTRIBUTORS.md` doc for this repo? See: https://github.blog/2012-09-17-contributing-guidelines/

[2020-06-11 16:08] lorenanicole commented on #49
Could you clarify what these different palettes mean? Such as "classy" vs "matching"? Are we looking for input on which of these we like?

[2020-06-11 19:15] Marie-L commented on #5
ok, will do @lorenanicole 😊

[2020-06-11 19:31] Marie-L commented on #49
@lorenanicole the palettes were created by @BethanyG using [Color Space](https://mycolor.space/) following a conversation about branding and yes we are looking for input. This is the very beginning of our exploration but please share your feedback

[2020-06-12 18:55] Marie-L commented on #45
@AbigailDogbe can you please share the link to the form ?

[2020-06-12 19:06] lorenanicole commented on #49
I very bias to blues, heh, so I'd vote for matching palette <3

[2020-06-17 22:54] Marie-L opened #50 "Automating slack channels to increase efficiency"
**Summary**

We currently have a couple of slack channels that use automation (with the help of Zapier) and I'd like to look in to how we can automate or increase levels on automation in a few others such as:

- #project-communications - increase automation for monthly meetings organisation
- #events - add automation so that when a new event is posted, the user is prompted to fill out social media

[2020-06-17 22:57] Marie-L commented on #25
thanks for the link @lorenanicole ! I'll try to put together a draft this week

[2020-06-18 19:27] Marie-L commented on #5
@lorenanicole quick question: should it be `CONTRIBUTORS.md` or `CONTRIBUTING.md` or does the naming convention not matter too much ?

[2020-06-18 23:32] willingc commented on #5
@Marie-L If you use `CONTRIBUTING.md` then GitHub will pick up in their Insights tab for community. [ref](https://help.github.com/en/github/building-a-strong-community/setting-guidelines-for-repository-contributors) Thanks for all of the good work too :D

[2020-06-19 14:41] Marie-L commented on #5
Thanks for your help @willingc and you're welcome 😊

[2020-06-19 14:59] Marie-L opened #51 "Monthly Comms Team Meeting: June 19th 2020"
## Monthly Comms Team Meeting

**Attendees:**
- @Marie-L
- @BethanyG
- @lorenanicole
- @kittylon

**Date:**
- June 19th 2020

**Previous meeting issue link:**

- #48

### Agenda
_Please add items as needed. If you add a topic please make sure to attend the meeting._

**Topic for discussion** | **Sub Topic** | **Notes** | **Action points** | **Person Responsible** |
-- | -- | -- | -- | --
 PyLadies

[2020-06-20 14:37] BethanyG commented on #49
Apologies for being so scattered.  I have more pallets, and will work on this during the June hack.

[2020-06-20 16:59] albendz opened #54 "PyLadies Website 2.0 Migration"
Rebuilding the Pyladies blog will require breakup up what we have in the current repo and determining what needs to be moved into the new blog.

First task: How do we manage issues across https://github.com/pyladies/pyladies and https://github.com/albendz/project-communications

Some open questions to discuss:
What infrastructure changes will we need? New repos, admin, CICD
We need documentation o

[2020-06-20 17:02] albendz commented on #54
Related: https://github.com/pyladies/pyladies/issues/475

[2020-06-20 17:18] albendz commented on #54
Per suggestion from Lorena, we can use Github submodules for chapters: https://github.com/pyladies/pyladies/issues/475#issuecomment-647013724

[2020-06-21 16:56] BethanyG commented on #49
**Some Gradients:**

![PSF Blue and Yellow with PyLaides Red Gradients](https://user-images.githubusercontent.com/5923094/85230495-73ae4d00-b3a5-11ea-95f6-9a1935e3fb8a.png)

[2020-06-21 16:57] BethanyG commented on #49
**PSF Yellow Base Color Schemes:**

![PSF Yellow Related](https://user-images.githubusercontent.com/5923094/85230508-888ae080-b3a5-11ea-9ac0-54e0c10f0ed0.png)

[2020-06-21 16:57] BethanyG commented on #49
**More PyLadies Red Based Color Schemes:**

![PyLadies Red Related](https://user-images.githubusercontent.com/5923094/85230517-9ccedd80-b3a5-11ea-9be3-2233afaef9a2.png)

[2020-06-21 16:58] BethanyG commented on #49
**PSF Blue Related Color Schemes:**

![PSF Blue Related](https://user-images.githubusercontent.com/5923094/85230528-afe1ad80-b3a5-11ea-8879-a0f15412e850.png)

[2020-06-21 16:59] BethanyG commented on #49
**Finally, some Msc. Ones:**

![Other Msc  Color Schemes](https://user-images.githubusercontent.com/5923094/85230553-da336b00-b3a5-11ea-84a3-323c22139599.png)

[2020-06-22 14:47] lorenanicole commented on #49
What could be cool is to get a vote on the coloring? Or, I guess, @Marie-L how should selection of color pallets be addressed? I feel as if if this group selected three pallets with a mock up those could be presented for a vote to the boarder global interim group?

[2020-06-22 20:32] Marie-L commented on #49
@lorenanicole yes I agree, let's set up a poll. Yeah, a mock up alongside a palette would work. @BethanyG I'd like to learn how you design the Pylady, do you need any help ?

[2020-06-22 22:24] BethanyG commented on #49
@Marie-L  - _**I'd love help!**_  Happy to show you how I set it up, and to work together on some mockups.   We could schedule some hack sessions - with us, project comms, and/or the larger community as well.  I have a `to-do` to write up some instructions for global/the chapter guide...but that will take me a while, so for this we might want to do online interactive sessions / Slack appointments.

[2020-06-23 22:36] Marie-L commented on #49
@BethanyG you're a star 🤩 ! Sounds great, I'll ping you to try and arrange a few sessions

[2020-06-24 00:19] BethanyG commented on #49
As I start to go through these files again, I realize they're still not as organized as they could be.  Additionally, I've been looking at source control/version control options.  This is still prelim, but here are some sketch version control options:  https://45royale.com/blog/sketch-version-control/.   I think the one that is most in line with our current workflow which is GitHub based is [Kactu

[2020-06-25 12:21] Marie-L commented on #49
@BethanyG this is such a great idea! I really like Kactus, but let's give a few a try and also let's check whether our team members use mainly macs or PCs. Because if everyone is on a mac, we might as well go for Kactus

[2020-06-29 06:28] Marie-L opened #55 "Analytics"
**Overview**

Let's collect and analyse data in order to monitor our progress and also to help us make more informed decisions. We could start off by looking at platforms such as :
- [PyLadies](https://www.pyladies.com/)
- [Twitter](https://twitter.com/pyladies)
- [Instagram](https://www.instagram.com/pyladies_global/)
- [Facebook](https://www.facebook.com/pyladies/)

Then collaborate with [Resham

[2020-06-29 08:22] Marie-L commented on #55
@lorenanicole  Unfortunately, I'm not able to access social media analytics via Buffer because they're behind a paywall. Also, can't get into GA. Would it be possible for you to please grant me direct access ?

[2020-07-10 04:43] AbigailDogbe opened #56 "Monthly Comms Team Meeting: July 10th 2020"
## Monthly Comms Team Meeting

**Attendees:**
-

**Date:**
- June 19th 2020

**Previous meeting issue link:**

- #51

### Agenda
_Please add items as needed. If you add a topic please make sure to attend the meeting._

**Topic for discussion** | **Sub Topic** | **Notes** | **Action points** | **Person Responsible** |
-- | -- | -- | -- | --

## Next Meeting:
 Friday 7th August 2020

cc / @pyladies/

[2020-07-13 22:00] Marie-L opened #57 "Elections Roadmap"
**Summary**

- Create an elections roadmap or infographic which can either be shared within our team or the wider pyladies community.

- The aim is to provide a comprehensive election guide .

**Acceptance Criteria**

1. png or PDF roadmap

**Do you want to work on this issue (Yes/No)?**

Yes but all help is welcome

cc / @pyladies/communications

[2020-07-13 22:05] Marie-L opened #58 "Election blog posts"
**Summary**

- Plan and write a short series of blog posts about
1. the comms team work for the election,
1. Reason why the we are building the first global council

_There must be a total of **4 POSTS**_

**Acceptance Criteria**

1. plan for each blog post including title and summary
1. Published blog posts x 4

**Do you want to work on this issue (Yes/No)?**

Yes but all help is welcome

cc / @p

[2020-07-13 22:14] Marie-L opened #59 "Blog Template library"
**Summary**

Let's create a blog template library to support those who are interested in writing for our blog.

This will include
- formal requirements
- '_getting started_' type guide
- do's and don'ts
- suggested blog types/ examples
- images/ graphics guidance

**Acceptance Criteria**
- clear plan
- completed template library

**Do you want to work on this issue (Yes/No)?**

Yes but all help is

[2020-07-13 22:28] Marie-L opened #60 "Communications as a product"
**Summary**

Our team was launched to manage global PyLadies communications and engagement. We deal with requests and activities in the areas outlined in the image below:

![Comms_areas](https://user-images.githubusercontent.com/27898533/87359079-071b0e00-c55f-11ea-8603-8317f86517f3.png)

When there are comms related projects being started outside of our team, we would like to encourage all PyLadi

[2020-07-13 22:33] Marie-L opened #61 "User manual for me"
**Summary**

Let's revisit our [user manuals](https://github.com/pyladies/project-communications/tree/master/user-manual-for-me)
- Either update or create a your own manual

**Acceptance Criteria**

- a completed or updated user manual for each team member

**Do you want to work on this issue (Yes/No)?**

yes and everyone in our team should get involved.

Also, infra team members @lorenanicole & @

[2020-07-13 22:51] Marie-L opened #62 "Monthly hack day"
**Summary**

@kittylon suggested that hack days will be great for our team to have every month so that we could all have a specific time to work through issues.

- we could start this month in order to complete work for the elections
- all PyLadies members are welcome to join and contribute to comms work
- all PyLadies global teams are welcome to join and work on their own projects

**Acceptance C

[2020-07-13 23:00] Marie-L commented on #10
@kittylon 's research can be found [here](https://www.notion.so/PyLadies-Project-communication-01fb5da7266a4a90ac3b5b7b69712b66)

[2020-07-13 23:05] albendz commented on #59
We can also have recommended ways of listing contact info like:
Name
Pyladies Chapter
Pyladies Slack
LinkedIn?

[2020-07-13 23:11] lorenanicole commented on #62
Great idea!

[2020-07-13 23:21] Marie-L opened #63 "Twitter avatar"
**Summary**

We're looking into how we can update our social media avatars in a way that reflects our diversity. Further to a suggestion made by @econchick :

We will work towards implementing this idea using zapier

**Acceptance Criteria**

1.  chapter _geek-girl_ files (re-sized)
1.  integrate zapier _'update twitter profile pic'_ action

**Do you want to work on this issue (Yes/No)?**

Yes, wit

[2020-07-13 23:34] Marie-L opened #64 "PyLadies YouTube Channel Series"
**Summary**

@lorenanicole would like to launch a PyLadies youtube series which features interviews with members.

**Acceptance Criteria**

1. Plan
   1. schedule
   1. participant list
   1. technical research

TBC ...

**Do you want to work on this issue (Yes/No)?**

yes and all help is welcome

cc / @pyladies/communications

[2020-07-14 13:13] reshamas opened #65 "Neo4j: CFP"
**Summary**

To share on social media:

#NODES2020 is on Oct 20, 2020 (https://neo4j.com/nodes-2020/)

Call for Proposals is open (deadline: Aug 3) and we would love to have you participate:
https://sessionize.com/NODES-2020

#datascience #neo4j #graphdatascience

**Acceptance Criteria**
CFP deadline is Aug 3

**Do you want to work on this issue (Yes/No)?**
N/A

cc / @pyladies/communications

[2020-07-15 22:04] Marie-L commented on #59
great idea @albendz !

[2020-07-15 22:08] Marie-L commented on #63
I'll create a table with the info and will share it here @Mariatta

[2020-07-21 23:20] Marie-L commented on #57
Add milestones and important info from [58](https://github.com/pyladies/global-organizing/issues/58), [59](https://github.com/pyladies/global-organizing/issues/59) and [46](https://github.com/pyladies/global-organizing/issues/46)

[2020-07-26 22:41] Marie-L commented on #63
@Mariatta here are a few urls: [chapter avatar](https://docs.google.com/spreadsheets/d/1-PPQ0Su3kRsxOEod7wD6xfXbcpC8fOkFbrdVqpt_NpI/edit?usp=sharing). I will keep updating it until it contains them all. Please let me know if you need anything else

[2020-07-28 23:21] BethanyG commented on #63
@Marie-L   Happy to help -- just let me know the steps/where to put images/what you need.  😄

[2020-07-30 00:11] Marie-L commented on #63
Thanks @BethanyG 😊 ! @Mariatta, when you have time can you please share the method so we can get started on setting this up 😊?

[2020-07-30 00:22] Mariatta commented on #63
Yeah I will be doing this using Zapier. Perhaps we can set up a Zoom call where I can show how do it within Zapier? I'm quite open on Friday this week.

[2020-07-30 00:35] Mariatta commented on #63
Instead of google sheets, I think it is easier to have the list of avatars as a csv file. I've created the csv in #66.

[2020-07-30 03:06] BethanyG commented on #63
I have a meeting 9-11 on Friday 7/30 - but am free earlier/later, if you want to do a call @Mariatta @Marie-L.

[2020-07-30 05:44] Marie-L commented on #35
![Blue and Orange Campaign Poster](https://user-images.githubusercontent.com/27898533/88885275-1f15b180-d230-11ea-9ac8-4d8cd99348d9.png)

[2020-07-30 05:44] Marie-L commented on #35
![Global Council Poster](https://user-images.githubusercontent.com/27898533/88885292-289f1980-d230-11ea-875f-66e6eb200752.png)

[2020-07-30 06:01] Marie-L commented on #63
@Mariatta thanks for creating a csv! Yes, I'm available on Friday, what time are you thinking ?

[2020-07-30 09:55] BethanyG commented on #35
Just putting these here, so we don't have to look them up (_pulled from the elections site_):

**Election Calendar**
-  Open call for Council Member Nominations: August 6, 2020 AoE
-  Council Member Nomination cut-off: August 31, 2020 AoE

-  Voter application cut-off date: **August 31, 2020** AoE

-  Voting **start date:** September 7, 2020 AoE
Voting **end date:** September 18, 2020 AoE

[2020-07-30 10:06] Marie-L commented on #35
Thank you @BethanyG 🙏 !

[2020-07-30 10:07] BethanyG commented on #35
Suggest for the nomination graphic:
*  _**who do you choose?**_  or _**who's your pick?**_ in place of the  **vote wisely** text.
*   **Deadline to nominate: 31.08.2020** or  **Deadline: 31.08.2020** or even **Window Closes:31.08.2020** in place of the "voting ends" text.
* would use "Nominations Open 31.08.202" instead of "Nominations are open", since this is a pre-announcement.

And -- I have to

[2020-07-30 10:19] Marie-L commented on #35
Thanks so much for your feedback @BethanyG 😊! I'll implement your suggestions and will post the updated versions below. Also, regarding the colour - I know what you mean. I chose it because it's used in so many other pyladies graphics but once the final artwork is complete I'll create versions in a variety of colours such as blues, greens, purples etc.

[2020-07-30 10:20] BethanyG commented on #35
For the first graphic:

*  Is this also for nominations, or was this one intended for voting?
*  If nominating/running suggest something like "Put on your shoes and"  R U N or "Stand Up and" L E A D
*  If nominating/running, also suggest the direct URL: http://elections.pyladies.com/pages/apply.html

In fact, as I read/look at these...maybe one should be a CTA for _Nominating_, and the other a CTA

[2020-07-30 10:26] BethanyG commented on #35
PS - I really like the fonts - especially the big brush V O T E font!  😁

[2020-07-30 10:34] BethanyG commented on #35
I just realized that we need to review the nomination and declaration forms.  😱   Guess we need to do that in the next 8 days....oops.

[2020-07-30 10:42] BethanyG commented on #35
Also - and I do NOT want to create stress or extra work.  But in [this](https://github.com/pyladies/pyladies-elections-website/issues/2) issue we've had volunteers step forward to translate the election site.  I wonder if we should put a call out on Slack or in that issue for some translations for these announcements as well?  Not for this very first round - but maybe for some we post in  few days

[2020-07-30 10:44] Marie-L commented on #35
Thanks again @BethanyG ! All of the graphics can be used for any milestone (initially I was focusing on mainly the design rather that the content). Yes, I agree we should have two different CTA's for each pathway. Here's a list below of the final artwork I need to finish:
1. CTA for Declaring as a candidate
2. CTA for Nominating
3. CTA to vote

What do you think ?

[2020-07-30 10:52] Marie-L commented on #35
@BethanyG re translation for the election site, great idea! Thanks for commenting on the issue! I'll post in slack too

[2020-07-30 18:15] Mariatta commented on #63
Would tomorrow, Friday 11 AM PDT/7 PM GMT work? I've sent you both Slack DM so I can send out calendar invite. @BethanyG @Marie-L

[2020-07-30 18:16] Mariatta commented on #63
I can also do 8 AM PDT / 3 PM GMT if that would work better for you all.

[2020-07-30 22:16] BethanyG commented on #63
Either time works for me @Mariatta!  @Marie-L  - which time works best for you?

[2020-07-30 22:25] BethanyG commented on #35
@Marie-L  - that looks great for categories. 🌟 🎉

For voting in particular, we may want some additional variants for poking people to register...and then poking them again.  Just because it's always a push to get attention around that.

 And we may want to consider some variants that are super general and just say --
 _Hey!  Did you know?? We're having this election thing!  It's our first one!  Ge

[2020-07-30 23:24] Marie-L commented on #35
![inaugural_election](https://user-images.githubusercontent.com/27898533/88983938-37371080-d2c4-11ea-937f-47b0c40ed733.png)

[2020-07-30 23:25] Marie-L commented on #35
![Global Council Poster (1)](https://user-images.githubusercontent.com/27898533/88983959-41590f00-d2c4-11ea-9c9f-d75fcde8be7e.png)

[2020-07-30 23:31] Marie-L commented on #35
![Global Council Poster_self_nominate](https://user-images.githubusercontent.com/27898533/88984271-14f1c280-d2c5-11ea-8c48-bb274969ff2f.png)
![Global Council Poster_self_nominate (1)](https://user-images.githubusercontent.com/27898533/88984276-18854980-d2c5-11ea-88db-1ccdba5af5a1.gif)

[2020-07-30 23:35] Marie-L commented on #63
8am PDT / 4pm BST is good for me @BethanyG @Mariatta , thanks !

[2020-07-30 23:58] BethanyG commented on #35
Have a couple of ideas ... if you don't mind me proposing?  I'll post them here by EOD my time.

[2020-07-31 03:29] BethanyG commented on #35
![RUN_III](https://user-images.githubusercontent.com/5923094/88996929-4b1e4a80-d2a3-11ea-8e20-7c8b6207e6ba.png)
![RUN_II](https://user-images.githubusercontent.com/5923094/88996941-4f4a6800-d2a3-11ea-864e-916871cc3d7a.png)
![RUN](https://user-images.githubusercontent.com/5923094/88996948-52ddef00-d2a3-11ea-9f1c-4869f6b67d4c.png)

[2020-07-31 03:30] BethanyG commented on #35
..I have a bunch of shoe vectors, if you want to use any of them.

[2020-07-31 08:06] Marie-L commented on #35
@BethanyG Love this!! Please send me the sneaker vectors so I can make animated versions too 😊

[2020-07-31 16:07] Mariatta commented on #63
Today we set up the automation using Zapier to update the avatar daily, and we also added the step to post a tweet about the new profile picture. Other suggested improvements to this are:
- add a column with link to the PyLadies chapter website/meetup so we can include it on the tweet
- add a column with the PyLadies twitter account so we can @-mention them on twitter
- some logo may need to be re

[2020-08-02 23:20] Marie-L commented on #35
@BethanyG I've posted the first announcement (on all platforms including LinkedIn) and I'm in the process of finishing the necessary graphics for next week. I will share an update here tomorrow

[2020-08-03 19:21] Marie-L commented on #35
![having_an_election](https://user-images.githubusercontent.com/27898533/89218986-e32f7300-d5c6-11ea-9bc4-6ddd7ffa210d.gif)
![having_an_election_green](https://user-images.githubusercontent.com/27898533/89219005-edea0800-d5c6-11ea-8804-136fc1e5e019.gif)

[2020-08-03 19:22] Marie-L commented on #35
![run poster](https://user-images.githubusercontent.com/27898533/89219050-00644180-d5c7-11ea-9738-d7d092e2255f.gif)
![run poster 2](https://user-images.githubusercontent.com/27898533/89219056-035f3200-d5c7-11ea-97f0-1bd16861500a.gif)

[2020-08-03 19:25] Marie-L commented on #35
![_inaugural_election_blue](https://user-images.githubusercontent.com/27898533/89219253-576a1680-d5c7-11ea-9932-a99a265d3599.gif)

[2020-08-03 19:41] Marie-L commented on #35
@BethanyG I've created a few more variations based on your designs (they're not exactly the same so let me know if you want anything changed or added). I'm planning to post the "inaugural" & "we're having a.." graphics every day until Thursday. Then will switch to the open call graphics (and will add more color variations).

Also, if you have more suggestion for copy, please share ( I'm planning t

[2020-08-03 22:34] BethanyG commented on #35
Hi @Marie-L  - Thank you for your work on these!!

I really like these green and blue "We're having an election" graphics!  We might want to try a variant  with the Pylady outline either in black or Dk. Blue or yellow -- just to make her stand out a bit & shake things up...but I dunno if that is doing to be to "loud" or not.

For the "Put on your shoes & RUN" ... I hate to be picky, but for some r

[2020-08-03 22:58] BethanyG commented on #35
![image](https://user-images.githubusercontent.com/5923094/89234456-de57c880-d5a0-11ea-9dee-a5b654b800ff.png)

![RUN_VII](https://user-images.githubusercontent.com/5923094/89234949-098ee780-d5a2-11ea-99e9-c50a62d33ad1.png)

[2020-08-03 23:00] BethanyG commented on #35
![RUN_VIII](https://user-images.githubusercontent.com/5923094/89235122-799d6d80-d5a2-11ea-8060-8f20450bfac4.png)

[2020-08-03 23:27] Marie-L commented on #35
@BethanyG Thank for your feedback and for all your work too !! I've just created a canva for our team and have invited you to edit, have you received the invitation? I've started adding the files from my personal account (so far there's only 3) but at least we can start working from the same workspace. I'll finish adding everything tomorrow. Thanks again 😊🙏

[2020-08-04 00:50] BethanyG commented on #35
![Run with shoes](https://user-images.githubusercontent.com/5923094/89240730-d3f1fa80-d5b1-11ea-82f6-4c77e0292492.png)

[2020-08-04 01:02] BethanyG commented on #35
![Run with shoes_II](https://user-images.githubusercontent.com/5923094/89241330-6e067280-d5b3-11ea-9bff-3316c605a5ce.png)

[2020-08-04 07:59] Marie-L commented on #35
@BethanyG Love it !

[2020-08-07 16:25] lorenanicole opened #68 ""Meet PyLadies" Interview Video Series"
**Summary**

# Proposal

Interview PyLadies members focusing on the following for a multilingual series called, "Meet PyLadies: We present ____":

The intent is to:

- Highlight global community members
- Better tell the story of who PyLadies are and what we do
- Provide opportunities for global members to participate in another volunteer opporunity

## Format

The interview will be between 15 to

[2020-08-07 18:28] Marie-L commented on #68
This is such a great idea @lorenanicole ! I can aim to produce version 1 (we can continue to iterate and improve as we go) branding images  as well as creating a StreamYard account for the comms team by sunday morning - before the 2nd interview, then work on creating a workflow next week. What do you think ?

[2020-08-08 23:01] Marie-L commented on #68
YT Thumbnail test
![meet_pyladies_thumbnail_test](https://user-images.githubusercontent.com/27898533/89721263-77d50f00-d9d3-11ea-8c63-1228da2f5c0f.png)

[2020-08-08 23:02] Marie-L commented on #68
Social promo test
![insta_meet_pyladies_test](https://user-images.githubusercontent.com/27898533/89721271-9affbe80-d9d3-11ea-9f9c-bbfdbb7d2ff8.gif)

[2020-08-08 23:08] Marie-L commented on #68
@lorenanicole In the process of setting up streamYard acc, but don't have login credentials for comms email. When you have time can you please share them with me? Thanks !

[2020-08-12 05:18] hugovk commented on #63
It's working really well!

https://twitter.com/pyladies/status/1293412110664425473

@Mariatta Is it possible to put an `@` before the Twitter handle?

[2020-08-12 17:09] Mariatta commented on #63
Unfortunately we can't @ mention on twitter user using Zapier. I've added it, but it got automatically removed. ☹️

![Screen Shot 2020-08-12 at 10 07 56 AM](https://user-images.githubusercontent.com/5844587/90045411-daeccd00-dc83-11ea-90f0-f771d7106e43.png)

https://zapier.com/help/doc/common-problems-twitter#symbols-are-being-stripped-from-posts

[2020-08-23 17:05] lorenanicole commented on #68
I just saw these assets! These are great!

[2020-08-25 19:47] drcat101 commented on #68
I'd like to sign up to do one of these as an interviewer, and I have found an interviewee - Aseda from PyLadies Ghana. Let me know what are the next steps :)

[2020-08-26 13:48] Marie-L commented on #68
![AMA Youtube Thumbnail](https://user-images.githubusercontent.com/27898533/91311535-1a9ad500-e7ab-11ea-8dc6-4d1e2b9a79b2.png)

[2020-08-26 13:49] Marie-L commented on #68
![AMA_insta](https://user-images.githubusercontent.com/27898533/91311680-43bb6580-e7ab-11ea-802f-5d9d157be303.gif)

[2020-08-26 13:49] Marie-L commented on #68
![AMA_insta](https://user-images.githubusercontent.com/27898533/91311781-5fbf0700-e7ab-11ea-95fa-b9abdaedc2d6.png)

[2020-08-26 19:13] deboraazevedo commented on #68
@Marie-L is there anyway I can find the svg file from these last images?

[2020-08-26 19:24] Marie-L commented on #68
@deboraazevedo, I'll add them to my g drive and share them with you

[2020-08-26 19:30] Marie-L commented on #68
@deboraazevedo it's done, please let me know if you haven't received the invitation 😊

[2020-08-26 19:41] deboraazevedo commented on #68
@Marie-L I received it, thank you!

[2020-08-26 19:46] Marie-L commented on #68
@deboraazevedo ok great, you're welcome !

[2020-08-26 19:46] cecivieira commented on #68
@Marie-L Could you send us one of this images in svg format (vector format)?
On friday we'll make a portuguese version with @deboraazevedo , so we need create a thumbnail to youtube. I'm glad if you can share the svg (vector) with us

[2020-08-26 20:06] Marie-L commented on #68
@cecivieira Unfortunately, the program I used doesn't have the option to export them in svg format. Therefore, I will need to use adobe illustrator in order to convert them. When do you need the images by ?

[2020-08-26 20:08] Marie-L commented on #68
@cecivieira it could be easier if you send me the portuguese copy and I'll create new ones for you. Let me know

[2020-08-26 20:25] BethanyG commented on #68
@Marie-L   -- couldn't we invite them to Canva, and have them edit there?  Or are these not in Canva.  Also -- if you need help, I can also use Affinity to convert these to SVG...just let me know.  I can also help with copy versions.

[2020-08-26 20:36] cecivieira commented on #68
@Marie-L Which options to editable format are available in your program?
The Inkscape can import AI, EPS, CDR...

[2020-08-27 12:00] cecivieira commented on #68
@Marie-L @lorenanicole

The informations about the episode at 20th Sept. of "Meet PyLadies":

(en)
As a part of our "Meet PyLadies" series we will have a chat with PyLadies Recife member Anyceli Santos, a software developer and social activist based in Ipojuca - PE(BR). Working at Ipojuca’s City Hall, she is a enthusiastic of community works and loves play pagode and samba.

Twitter: https://twitt

[2020-08-27 16:10] lorenanicole commented on #68
We've got an EXTRA SPECIAL session tomorrow @Marie-L and @AbigailDogbe !!

There'll be *two* interviews with Karo (spanish) and Valery (english) with Diana as the interviewer!

Event title: "Conoce PyLadies: Presentamos Valery Briz (in English) & Karo Ladino (en español)"
Date: Friday August 27 @ 19:00 CDT
Link: https://www.youtube.com/watch?v=jaPKZGfi-HU

Pictures 👇

![New Karo](https://user-imag

[2020-08-27 20:00] lorenanicole commented on #68
Annnnd another!

Title: "Conoce PyLadies: Presentamos Carla Florida"
Who: Carla Florida
Date: September 4 2020 @ 20:00 CDT

Photo 👇

![image](https://user-images.githubusercontent.com/4573607/91489021-c577c580-e875-11ea-97e4-79a6282f7662.png)

Bio 👇

Carla Florida is completing her studies in System Engineering. She is active in local and international Machine Learning and Data Science communities

[2020-08-28 04:45] BethanyG commented on #9
- Black Girls Code (https://www.blackgirlscode.com/blog)
- Women in Machine Learning and Data Science (http://wimlds.org/blog/)
- R-Ladies (https://blog.rladies.org/post/)
- DjangoProject (https://www.djangoproject.com/community/)
- Free Code Camp (https://www.freecodecamp.org/news/)

[2020-08-28 04:48] BethanyG commented on #7
@Marie-L  I can (maybe) help with this.

[2020-08-28 16:24] Marie-L commented on #9
Thank you @BethanyG 🙏

[2020-08-28 16:25] Marie-L commented on #7
@BethanyG yes please, if you have time 😊

[2020-08-28 16:50] Marie-L commented on #68
@cecivieira thanks for sharing info for the _'Meet PyLadies'_ episode with Anyceli Santos, we're currently working on the artwork so will keep you updated

[2020-08-28 16:51] Marie-L commented on #68
@BethanyG Thanks for your suggestions and help !

[2020-08-28 17:05] Marie-L commented on #68
@lorenanicole for tonight's episode :
![insta_conoce_pyladies_valery_ _karo](https://user-images.githubusercontent.com/27898533/91593032-5c687e80-e957-11ea-80f6-75d91c2b225c.gif)
![conoce_pyladies_thumbnail_valery_ _karo_es](https://user-images.githubusercontent.com/27898533/91593049-61c5c900-e957-11ea-98fe-2f8becfd214b.png)

- I've made versions in both languages
- Please correct my spanish i.e (

[2020-08-28 17:06] Marie-L commented on #68
![insta_meet_pyladies_valery_ _karo](https://user-images.githubusercontent.com/27898533/91594017-17454c00-e959-11ea-81c9-c7250f809dd3.gif)
![meet_pyladies_thumbnail_valery_ _karo_en](https://user-images.githubusercontent.com/27898533/91594028-1c0a0000-e959-11ea-9fdf-a44c49445609.png)

[2020-08-28 17:47] AbigailDogbe commented on #68
Blog Post Alert!

Hello PyLadies, our next "Meet PyLadies" event is here again!

There'll be two interviews with **Karo Ladino** (in spanish) and **Valery Briz** (in english) with **Diana Rodríguez** as the interviewer!

Our interviewer is a web developer, infrastructure and automation specialist with over 20 years’ experience in the tech ecosystem. Strong in community presence, she leads GDG Durh

[2020-08-28 18:02] Marie-L commented on #68
@AbigailDogbe This is great, thanks! when can we get in posted to the blog ?

[2020-08-28 18:17] AbigailDogbe commented on #68
I'm not sure but I think we can put them on our social media platforms for now. That is if it is ready to go.

[2020-08-28 18:26] lorenanicole commented on #68
LGTM! :shipit:

[2020-08-28 18:46] Marie-L commented on #68
ok great! i'll post on socials at 21:00 BST

[2020-08-28 20:41] Marie-L commented on #68
final copy for twitter :

Join us for the next episode of "Meet @PyLadies" tonight 19:00 CDT! There'll be two interviews with @karobotco (in Spanish) and @valerybriz (in English) with Diana Rodríguez as the interviewer! See you there! https://www.youtube.com/watch?v=jaPKZGfi-HU

Hola! Tenemos el próximo episodio de "Conoce a @PyLadies" hoy a las 19:00 CDT!  Habrá dos entrevistas con @karobotco (en

[2020-09-01 02:27] amandasavluchinske opened #70 "Request to Join Project Communications: amandasavluchinske"
**Proposed Team Member Details**

| Name | GitHub Handle | PyLadies Chapter | Team Role |
| --| --| --| --|
| Amanda Savluchinske | amandasavluchinske | Recife - Brazil | Member |

**Why do you want to join the PyLadies Project Communications team?**

Although I work as a Software Developer, I'm very passionate about communication-related attributions and seek them out constantly in my workplace.

[2020-09-12 00:47] #70 closed

[2020-09-15 19:02] cecivieira commented on #68
@Marie-L the 'Meet PyLadies' episode with Anyceli Santos will be at 20th Sep. Is the art ready?
@lorenanicole how could I get the StreamYard and Youtube link? Could we start promote the episode?

[2020-09-15 19:06] AbigailDogbe commented on #68
Hello @cecivieira can you please point me to her photograph and bio?

[2020-09-15 19:13] cecivieira commented on #68
@AbigailDogbe here

[2020-09-15 19:14] AbigailDogbe commented on #68
Thank you

[2020-09-15 19:17] AbigailDogbe commented on #68
@cecivieira what time will this event happen?

[2020-09-15 19:55] cecivieira commented on #68
@AbigailDogbe 15:00 (GMT -3)

[2020-09-16 09:31] AbigailDogbe commented on #68
![meet_pyladies_thumbnail_Anyceli Santos_en](https://user-images.githubusercontent.com/29455771/93319347-4ab02380-f7ff-11ea-9c77-ba78216adb57.png)

[2020-09-16 09:38] Marie-L commented on #68
Thanks for your help @AbigailDogbe ! @cecivieira sorry I haven’t had the chance to get back to you. The version posted above is unfinished. We will send you the final version by Friday

[2020-09-16 13:44] cecivieira commented on #68
@Marie-L @AbigailDogbe The interview will be in portuguese, so maybe it's a good idea informs it in the art.
Besides that, could you make a portuguese version?

**Apresentamos:
Anyceli Santos
Domingo, 20 set.
15:00 (GMT-3)**

[2020-09-16 14:56] AbigailDogbe commented on #68
Absolutely, this can be done.

[2020-09-18 08:06] maud-lv opened #71 "Broadcasting a virtual event to the PyLadies YouTube channel"
Broadcasting a virtual event to the PyLadies YouTube channel: https://www.youtube.com/channel/UCs0-1JQdb1YkVxN4hnNKsNQ

**Summary**

I would like to broadcast a Hacktoberfest meetup organized by the PyLadies Paris team, to the PyLadies YouTube channel: https://www.youtube.com/channel/UCs0-1JQdb1YkVxN4hnNKsNQ. Any PyLadie meetup orgaziner is welcome to join the team to make this a bigger event.

Ev

[2020-09-18 22:23] Marie-L commented on #68
@cecivieira I'm sorry I haven't had the chance to finish the graphics, can you please wait until tomorrow ?

[2020-09-19 23:35] cecivieira commented on #68
@Marie-L @lorenanicole could we reschedule to 18th Oct. at 15:00 (GMT -3)?
So we have time to publish in our social media and invite more women to watch the interview.

[2020-09-22 22:13] Marie-L commented on #71
Hi @maud-lv, thank you for submitting this ! Will you be presenting ? Also, will this be a bilingual event ?

[2020-09-23 09:12] maud-lv commented on #71
Hi @Marie-L the event will be in English only. I will probably do the MC with Maria, one of the PyLadies Paris organizer. Speakers will include Chiara Marmo, Lucy (the third PyLadies organizer) and Yohan Lasorsa. If you or someone else from your team would like to join to present something or host the show with us let me know.

[2020-09-25 09:08] maud-lv commented on #71
Hello @Marie-L here is the full schedule - do you think I could get a reply today? If that's not possible we will create a YouTbue account just for PyLadies Paris. Thank you!

6:00-6:10PM Introduction
6:10-6:30PM Why contribute to Open Source? by Yohan Lasorsa
6:30-6:50PM Open Source to Open Research by Chiara Marmo
6:40-7:00PM How to make your first contribution: step by step demo by @Laïla Atrmo

[2020-09-29 08:57] Marie-L commented on #71
Hi @maud-lv, my apologies for the delay! Thanks for providing more information. You are welcome to broadcast this on the main pyladies youtube channel. Please let me know if you are still interested. Thanks

[2020-09-30 21:44] Marie-L commented on #71
@maud-lv here's the [link](https://www.youtube.com/watch?v=uXE1Wc6blDA)

[2020-09-30 21:49] Marie-L commented on #71
I know you already have artwork but I needed to create a thumbnail, so I also made one to post on our socials. Please let me know if there are any issues before I post tomorrow morning
![Pyladies_paris_hacktoberfest_thumb](https://user-images.githubusercontent.com/27898533/94743296-0da36f80-036f-11eb-9cd5-ac7e9146c8ac.png)
![Pyladies_paris_hacktoberfest_insta](https://user-images.githubusercontent

[2020-09-30 22:17] Marie-L commented on #71
![Pyladies_paris_hacktoberfest_insta](https://user-images.githubusercontent.com/27898533/94745608-f49cbd80-0372-11eb-8924-f77ca19bce44.png)
![Pyladies_paris_hacktoberfest_insta](https://user-images.githubusercontent.com/27898533/94745615-f797ae00-0372-11eb-9366-823815be300d.gif)

[2020-10-01 11:21] Marie-L commented on #71
@maud-lv updated :
![Pyladies_paris_hacktoberfest_thumb](https://user-images.githubusercontent.com/27898533/94803046-97d7ec00-03e0-11eb-85df-92e85404fc88.png)
![Pyladies_paris_hacktoberfest_insta](https://user-images.githubusercontent.com/27898533/94803053-9a3a4600-03e0-11eb-9420-b8d5167dd230.png)
![Pyladies_paris_hacktoberfest_insta](https://user-images.githubusercontent.com/27898533/94803058-9c9

[2020-10-01 12:19] maud-lv commented on #71
I love it!

[2020-10-01 16:36] lorenanicole commented on #68
@Marie-L if you need help let me know!

[2020-10-02 09:31] Marie-L opened #72 "Promo copy for sponsorships"
**Summary**

We're getting quite a few requests for sponsorships. It would be good to have promotional copy to share or a 'media/press pack'

**Acceptance Criteria**

- [ ] review copy used for previous sponsorships
- [ ] review artwork used for previous sponsorships
- [ ] decide whether we need a full press/ media pack
- [ ] create promotional materials

**Do you want to work on this issue (Yes/N

[2020-10-02 09:32] Marie-L commented on #68
ok will do, thanks @lorenanicole !

[2020-10-02 16:10] lorenanicole commented on #72
This could be an awesome Hacktoberfest project!

[2020-10-03 07:58] Marie-L commented on #72
great idea @lorenanicole 😊 !

[2020-10-06 13:11] cecivieira commented on #68
@Marie-L @lorenanicole Could you send me the graphics until 10th Oct?
The interview will be in portuguese, so maybe it's a good idea informs it in the art.
Also, could you make a portuguese version?

Apresentamos:
Anyceli Santos
Domingo, 20 set.
15:00 (GMT-3)

[2020-10-06 14:02] Marie-L commented on #68
Hi @cecivieira, I'm sorry I can't send them by the 10th Oct, but will do during the following week. Thanks !

[2020-10-06 14:56] AbigailDogbe commented on #68
Hello @Marie-L is there anything particualar you need to do about the flyer? I could help so we can have it done before 10th.

[2020-10-07 20:38] Marie-L commented on #68
Thanks for your offer of help @AbigailDogbe 🙏. @cecivieira we are working towards getting more collaboration regarding producing graphics so in future you will be able to access the assets and edit them yourself as and when needed. But for now we'll do our best to get them to you by the start of next week. Thank you for your patience 🙂

[2020-10-10 17:33] georgically opened #73 "Campaign on PyLadies' diversity by highlighting hair color and textures"
**Summary**

 Creating a social media campaign (Twitter, FB or IG ) with selfies emphasising hair color and texture of each individual to highlight diversity in PyLadies. Everyone of us has different hair colors and textures but we're all part of PyLadies.

Suggested description to social media posts could be:
“ PyLadies comes from all corners of the world. We embrace diversity.”
" We embrace dive

[2020-10-12 09:15] Marie-L commented on #68
Hi @cecivieira, here's the [YT link](https://www.youtube.com/watch?v=-b-drE-aZF4&feature=youtu.be) and also the graphics:
![insta_meet_pyladies_Anyceli Santos](https://user-images.githubusercontent.com/27898533/95728205-2535fe80-0c73-11eb-9523-b04255349d59.png)
![insta_meet_pyladies_Anyceli Santos](https://user-images.githubusercontent.com/27898533/95728222-2a934900-0c73-11eb-94e3-0a2755b6bc7c.gif

[2020-10-12 09:44] Marie-L commented on #73
Hi @georgically, thank you for creating the issue! @AbigailDogbe and I will get started on this and will keep you updated. Thanks 😊 !

[2020-10-14 17:43] cecivieira commented on #68
@Marie-L Thank you!!!!!!!!!

[2020-10-15 10:32] Marie-L commented on #68
@cecivieira no problem 😉! Please find the updated versions below:
![insta_meet_pyladies_Anicely_Santos_pt](https://user-images.githubusercontent.com/27898533/96111894-bd352180-0ed9-11eb-8642-2642cf52e0a6.gif)
![insta_meet_pyladies_Anicely_Santos_pt](https://user-images.githubusercontent.com/27898533/96111906-c1613f00-0ed9-11eb-880a-3c1d2a47308a.png)
![insta_meet_pyladies_Anicely_Santos](https://us

[2020-10-15 13:10] cecivieira commented on #68
Thank you @Marie-L !!!!

[2020-10-15 20:59] Marie-L commented on #68
you're welcome @cecivieira 😊

[2020-10-15 21:29] Marie-L commented on #37
This has now been completed

[2020-10-15 21:29] #37 closed

[2020-10-15 21:31] Marie-L commented on #24
I'll close this issue as the work has now been completed .

[2020-10-15 21:31] #24 closed

[2020-10-15 21:32] #34 closed

[2020-10-15 21:34] Marie-L commented on #35
I'll close this issue as the work has now been completed.

[2020-10-15 21:34] #35 closed

[2020-10-15 21:35] Marie-L commented on #36
I'll close this issue as the work has now been completed,

[2020-10-15 21:35] #36 closed

[2020-11-02 22:23] Marie-L commented on #71
This is complete, so I will close the issue

[2020-11-02 22:23] #71 closed

[2020-11-02 22:25] #58 closed

[2020-11-02 22:25] #57 closed

[2020-11-17 23:45] Marie-L commented on #9
This has been completed, so can now be closed.

[2020-11-17 23:45] #9 closed

[2020-11-28 23:38] Marie-L commented on #73
Hi @georgically can you please collect some images and send them to communications@pyladies.com ?

[2020-12-11 22:33] Marie-L opened #75 "Publish new blog post by Paloma"

[2021-02-15 23:13] Marie-L opened #76 "PyLadies Auction promo"

[2021-02-15 23:13] Marie-L commented on #76
![PyLadies_auction_pycon](https://user-images.githubusercontent.com/27898533/108001096-7704e180-6fe3-11eb-9cee-5de8a8df2789.png)

[2021-02-15 23:16] Marie-L commented on #76
![PyLadies_auction_pycon (1)](https://user-images.githubusercontent.com/27898533/108001250-cfd47a00-6fe3-11eb-8ef3-0a3da8c6a6a5.gif)

[2021-02-15 23:24] Marie-L commented on #76
![PyLadies_auction_pycon (3)](https://user-images.githubusercontent.com/27898533/108001637-e0d1bb00-6fe4-11eb-9b2c-94bdce5ab29c.gif)

[2021-02-27 19:24] Marie-L commented on #8
we have completed informal research, so I will close this issue.

[2021-02-27 19:24] #8 closed

[2021-03-01 22:44] cecivieira opened #77 "Request to Join Project Communications: cecivieira"
_This template should be used (edited) for PyLadies members that wish to join the Project Communications team.

**Proposed Team Member Details**

Name | GitHub Handle | PyLadies Chapter | Team Role
| --| --| --| --|
Ana Cecília Vieira | cecivieira | PyLadies Recife | -- |

**Why do you want to join the PyLadies Project Communications team?**

/cc @pyladies/communications

**Issues or projects that

[2021-03-02 13:11] julianafalves opened #78 "Request to Join Project Communications: <GitHub Handle>"
_This template should be used (edited) for PyLadies members that wish to join the Project Communications team.

**Proposed Team Member Details**

Name | GitHub Handle | PyLadies Chapter | Team Role
| Juliana F. Alves | PyLadies São Carlos/ PyLadies Global Council| lead of External Relation work group|

**Why do you want to join the PyLadies Project Communications team?**
I want to join the project

[2021-03-08 21:31] #51 closed

[2021-03-08 21:31] #48 closed

[2021-03-08 21:34] #47 closed

[2021-03-08 21:48] #7 closed

[2021-03-08 22:00] #20 closed

[2021-03-08 22:01] #56 closed

[2021-03-08 22:36] #29 closed

[2021-03-08 22:37] #11 closed

[2021-03-08 22:38] #2 closed

[2021-03-08 22:39] #32 closed

[2021-03-08 22:43] #10 closed

[2021-03-08 22:58] #3 closed

[2021-03-08 22:59] #18 closed

[2021-03-08 23:00] #45 closed

[2021-03-08 23:01] #68 closed

[2021-03-08 23:02] #25 closed

[2021-03-08 23:30] BethanyG commented on #49
@Marie-L   -- curious as to why you closed this?  Are we resetting this entire repo and "tossing" prior work?

[2021-03-12 00:46] Marie-L commented on #63
This is now complete so I will close the issue.

[2021-03-12 00:46] #63 closed

[2021-03-12 00:49] Marie-L commented on #49
@BethanyG The rebranding process is mostly complete so I will open a new issue for 'Branding guidelines' , then will close this

[2021-03-12 00:51] Marie-L opened #79 "Curate PyLadies Spotify Playlist for #py-music"
**Summary**

**Acceptance Criteria**

**Do you want to work on this issue (Yes/No)?**

cc / @pyladies/communications

[2021-03-12 00:53] Marie-L opened #80 "Update Twitter Lists"
**Summary**

**Acceptance Criteria**

**Do you want to work on this issue (Yes/No)?**

cc / @pyladies/communications

[2021-03-12 00:54] Marie-L opened #81 "Research how to automate CSVs in Zapier for #wellness & #py-music"
**Summary**

**Acceptance Criteria**

**Do you want to work on this issue (Yes/No)?**

cc / @pyladies/communications

[2021-03-12 00:55] Marie-L opened #82 "Update LinkedIn Page"
**Summary**

**Acceptance Criteria**

**Do you want to work on this issue (Yes/No)?**

cc / @pyladies/communications

[2021-03-12 00:56] Marie-L opened #83 "Apply for verified status on Twitter & Instagram"
**Summary**

**Acceptance Criteria**

**Do you want to work on this issue (Yes/No)?**

cc / @pyladies/communications

[2021-03-12 00:57] Marie-L opened #84 "Create branding / style guide"
**Summary**

**Acceptance Criteria**

**Do you want to work on this issue (Yes/No)?**

cc / @pyladies/communications

[2021-03-12 00:57] Marie-L opened #85 "Update Comms calendar with social media and global events"
**Summary**

**Acceptance Criteria**

**Do you want to work on this issue (Yes/No)?**

cc / @pyladies/communications

[2021-03-12 00:58] Marie-L opened #86 "Write test script for Zapier bot"
**Summary**

**Acceptance Criteria**

**Do you want to work on this issue (Yes/No)?**

cc / @pyladies/communications

[2021-03-12 01:03] #77 closed

[2021-03-12 01:03] #78 closed

[2021-03-12 01:09] Mariatta commented on #86
What kind of test script are you thinking about? I can help and pair up on it.

[2021-03-12 01:10] Mariatta commented on #81
What kind of csv automation are you thinking about? I can provide insight on whether this can be done in Zapier or not.

[2021-03-12 13:07] lorenanicole commented on #86
Personally this seems like a tech and infra responsibility?

[2021-03-12 13:08] lorenanicole commented on #81
Additionally we only pay for 2000tasks a year with our current plan. We may want to prioritize more automation of workflows first.

[2021-03-12 13:09] lorenanicole commented on #83
I can probably take this.

[2021-03-12 13:10] lorenanicole commented on #80
Why don't we just write a Twitter script to do this? Again I can happily knock this out if you tel me what you're looking for.

[2021-03-12 22:51] Marie-L commented on #86
@Mariatta @lorenanicole Thanks for your offer to help. I should start by saying that I should have named this _'draft'_ instead of _'test'_ script for zapier bot. I was planning to write a python script that produces a custom output. We would use this as a template and then adapt it for a range of purposes (#50).

Yes, it would be great to pair on this, I'll message you to find out your availabili

[2021-03-12 23:09] Marie-L commented on #81
@Mariatta something similar to your twitter avatar bot.  So the plan is, to have a few csv's populated with different content. For example, one with links to articles on mental health awareness, one with playlists for work/study, another with details of our YouTube videos and also one for  community photos. Then we could focus more time on updating the spreadsheets with new content (and encouragin

[2021-03-12 23:09] Marie-L commented on #83
@lorenanicole ok great, thanks !

[2021-03-12 23:11] Mariatta commented on #81
I believe it is 2,000 tasks per month. Last month we used 400 tasks, so I think it should be fine for now.

[2021-03-12 23:15] Marie-L commented on #81
@Mariatta ok great 🙂 !

[2021-03-12 23:17] Marie-L commented on #80
@lorenanicole ok, I'll send you more info soon. Thanks 🙂 !

[2021-03-12 23:19] lorenanicole commented on #83
Instagram requested ![image](https://user-images.githubusercontent.com/4573607/111008586-08534380-8357-11eb-99c3-80b1c9b464e0.png)

And per this Twitter May be paused? See: https://twitter.com/verified/status/968243242184491008?s=21 I reached out to Jessica Garson who does devrel for Twitter to learn more.

[2021-03-12 23:23] lorenanicole commented on #81
Oops I can't read 😅. Thanks @Mariatta for that. I'm going to put this on the list for the project tech infra of things to hack on for this month session.

Also @Marie-L the @pyladies/global-council has the power to simply say "we've upgraded to X and @lorenanicole paid please reimburse X to her funds so they don't come from PyLadies Chicago". You can see my email to the finance team for more info

[2021-03-12 23:24] lorenanicole commented on #80
Cool we can add to this months @pyladies/tech-and-infra-admins monthly hack!

[2021-03-12 23:28] lorenanicole commented on #86
Sure! In Slack I'm tracking issues for this monthly hack for tech infra. I'll add to list if you can join us.

[2021-03-15 21:07] kittylon opened #87 "Comms meeting notes"
# Comms Weekly Hack Session

- Date: 15th March 2021
- Previous meeting minutes:
- Meeting Lead(s): @kittylon @julianafalves @cecivieira @Marie-L
- Notetaker: @kittylon
- Current meeting attendees: @kittylon @julianafalves @cecivieira @Marie-L

### Team Updates

- Calendar:
- Social media requests:
- Email requests
- Project board updates

### Review Actions Items from Last Meeting

Action Item| O

[2021-03-15 21:10] Marie-L commented on #84
@cecivieira @julianafalves I will add the assets for the new repo here :

[2021-03-15 21:13] cecivieira commented on #84
@Marie-L is not exactly a new repo. I will update this one https://github.com/pyladies/pyladies-assets

[2021-03-15 21:19] Marie-L opened #88 "Update README"
**Summary**

**Acceptance Criteria**

**Do you want to work on this issue (Yes/No)?**

cc / @pyladies/communications

[2021-03-15 22:44] Marie-L commented on #84
@cecivieira yeah sorry I referred to it as _'new'_ because there's nothing in it yet

[2021-03-15 22:52] BethanyG commented on #84
@cecivieira - that repo belongs to the `tech & infra` team at the moment, and I think we want to leave it alone for now -- or submit PRs for work.  I think @Marie-L  is referring to this one:  https://github.com/pyladies/communications-assets, which **is** a new repo.

[2021-03-15 22:53] Marie-L commented on #84
yes, thanks @BethanyG !

[2021-03-15 22:55] BethanyG commented on #84
We should also look at how we are going to manage image assets.  Github has poor tools for diffing images.

[2021-03-15 22:57] BethanyG commented on #84
_I spoke too soon!_  Turns out MS has added image diffing capability!  🎉  https://docs.github.com/en/github/managing-files-in-a-repository/rendering-and-diffing-images....just not for _design files._

[2021-03-15 23:27] Marie-L commented on #84
@BethanyG it's a shame that it's not for design files, but I think we might have listed other options in another issue or notes. I'll have a look.

@cecivieira @julianafalves I've added the social media banners and avatar. I haven't included the event promos etc because each file has many layers so we would need to save them separately to make it easier for people to edit

[2021-03-16 00:49] BethanyG commented on #84
@Marie-L  - version control for design files is either pegged to specific formats ([abstract](https://www.abstract.com/versions) & [kactus](https://github.com/kactus-io/kactus) for Sketch, [adobe experience manager](https://www.adobe.com/marketing/experience-manager.html) for Adobe, some other really expensive ones [pics.io](https://pics.io/pricing) & [sympli](https://sympli.io/versions) that supp

[2021-03-16 22:27] Marie-L commented on #76
@lorenanicole @kittylon @BethanyG @julianafalves @cecivieira I'd like to start posting these this week so have started drafting the copy (based off an old auction promo tweet I found) :

_We are proud to announce that the 10th Annual PyLadies Auction at #PyCon2021 will be held virtually !  A crowd favorite filled with fun, charity and competition !

More details here: https://us.pycon.org/2021/eve

[2021-03-16 22:30] Marie-L opened #89 "Find content and schedule posts w/c 22nd March"

[2021-03-18 19:56] lorenanicole commented on #76
Is space limited now in the virtual moment? I haven't been able to make the last few auction planning meetings, @econchick could you confirm if there is an upper cap?

[2021-03-22 22:10] cecivieira opened #90 "Youtube Series "IWD PyLadies" (Reshama request)"
Post in Instagram and Twitter 1 image about the Youtube Series "IWD PyLadies"  and schedule 30 twitter's post with each talk link.

**Checklist:**

- [x]  Ask Reshama, Tereza and Georgi for thumbnail;
- [x] Edit it for Instagram and Twitter;
- [x] Update the Comunnication-assets' repository;
- [ ] Announce the editable graphic with the repository link;
- [ ] Post in Instagram and Twitter a general

[2021-03-22 23:41] Marie-L commented on #90
@cecivieira Thanks for raising this issue. There are existing plans to promote all of the videos from our youtube page on a weekly basis. However, this will not be done via Zapier. I think it would be a good idea if we could create a plan with all of our video content in mind, what do you all think ?

[2021-03-22 23:43] Marie-L commented on #90
Also, Tereza and Georgi have access to all the artwork (thumbnails) so you can ask them

[2021-03-22 23:45] Marie-L commented on #83
@lorenanicole Thank you 😀 !

[2021-03-22 23:46] #88 closed

[2021-03-22 23:48] Marie-L commented on #76
@lorenanicole good point ! I'll remove that part, thanks !

[2021-03-22 23:50] Marie-L commented on #76
I will confirm the times (and any other details) at tomorrow's meeting before posting

[2021-03-23 00:16] cecivieira commented on #90
@Marie-L where's the plans?
I'm thinking that we should start with Youtube Series "IWD PyLadies". How to post in twitter and instagram?
How to work Zapier bot? PyLadies has a plataform for manage social media, like [Hootsuite](https://www.hootsuite.com).

[2021-03-27 07:10] Marie-L commented on #90
Hey @cecivieira, sure we can start with IWD PyLadies. @kittylon has access to Buffer which is an alternative to Hootsuite. As we discussed before, we won't be using zapier for this campaign.

[2021-03-27 07:21] Marie-L commented on #90
I'll get the ball rolling and post this:
 _International Women’s History Month is almost coming to a close but we will continue to showcase the awesome #PyLadies in our community ! So every few days, we will share a talk from our @YouTube series IWD PyLadies ! Don’t miss it 😜!_

[2021-03-27 07:52] Marie-L opened #91 "IWD PyLadies Info"
**Summary**

We need to collect the details of the participants involved in the YouTube series **Meet The PyLadies IWD Special**

**Acceptance Criteria**

- A table which lists details such as :
   - Name
   - Talk title
   - PyLadies Chapter
   - Location
   - Twitter handle
   - video link

**Do you want to work on this issue (Yes/No)?**

everyone involved can work on this

cc / @pyladies/commun

[2021-03-27 07:54] Marie-L commented on #91
Name| Talk title | PyLadies Chapter | Location  | Twitter handle|
| --| --| --| --| --|
||||||

[2021-03-27 08:00] Marie-L commented on #90
@kittylon @AbigailDogbe @cecivieira @julianafalves Let's collect all the info we need in issue #91

[2021-03-27 08:30] #89 closed

[2021-03-27 14:40] cecivieira commented on #91
Reshama shared in the original request on Slack:
https://docs.google.com/spreadsheets/d/13wRM9x9NiNJhRpT9mP2uGR8FdqiNcmqZ6-Y1K0h_2e0/edit#gid=0

[2021-03-27 14:46] #91 closed

[2021-03-27 15:11] cecivieira commented on #90
@Marie-L in the caption you sad "(...)every few days, we will share a talk from our @youtube series Meet The PyLadies IWD 2021 Special !". Will you make all images for Instagram post?

I'm asking this because during the last meeting the attendees agreed that we would make 1 post with image in Instagram and the other ones will be only for twitter without image. However, I agree with individual post

[2021-03-27 15:16] Marie-L commented on #90
#91 will be closed as reshama has shared the info here : https://docs.google.com/spreadsheets/d/13wRM9x9NiNJhRpT9mP2uGR8FdqiNcmqZ6-Y1K0h_2e0/edit#gid=0

[2021-03-27 15:22] Marie-L commented on #90
@cecivieira I'm only helping to get this started because at a minimum each week we need to make one post per day across social media platforms. You can use Georgi's graphics to create the instagram graphics.

Also, we have discussed in detail before that we will not translate post into only **two** languages. We are a **global** community, so we must try to be as fair as possible . Therefore, when

[2021-03-27 15:28] Marie-L opened #92 "Comms team CoC"
**Summary**

Let's think about how we can work together in the best possible way and define boundaries.

**Acceptance Criteria**

- coc.md doc , with a list of guidelines that we will all follow

**Do you want to work on this issue (Yes/No)?**

yes and everyone should contribute to this

cc / @pyladies/communications

[2021-03-27 15:37] cecivieira commented on #90
@Marie-L sorry, I didn't entire plan with the translations... we thought using english + 1 any language. The structure of each post would be english and other language, so with this we bring all 7 languages over time.

About create 30 differents graphics, we could back to talk in the next meeting.

[2021-03-28 02:21] cecivieira commented on #84
Perhaps, if we publish "branding colours, pyladies global avatars and pyladies global banners" in the Communication Assets Repository (https://github.com/pyladies/communications-assets) we'll duplicate the proposal of the general assets repository(https://github.com/pyladies/pyladies-assets), because one part of it description is "This repository is for all assets, logos, etc used for PyLadies.".

[2021-03-28 02:33] cecivieira commented on #84
@BethanyG we'll intend to publish temporarily the editable graphics, only during the context period. I didn't understand what kind of situation you tried to solved with the messages about tools for diffing images. Could you explain a little bit?

[2021-03-29 20:08] Marie-L commented on #90
Point
1. we must have graphics for very post

[2021-04-01 20:20] kittylon commented on #90
In addition, @cecivieira will add the details for the translations such as font, size, color palette so the people know what to use in the translations

[2021-04-01 20:30] Marie-L commented on #90
First up:

Today we feature @pyladiesbbk Thohirah Husaini's talk, Discover the Better Version of Yourself Everyday from our @youtube series Meet The PyLadies IWD 2021 Special ! #PyLadies https://youtu.be/rnc-dZtnzuM

[2021-04-05 20:25] Marie-L commented on #90
hey everyone, who would like to decide who should be posted next ? Or does anyone have a time to write a script to generate a random list ?

[2021-04-05 20:27] Marie-L commented on #82
@AbigailDogbe , thanks for doing this !

[2021-04-05 20:27] #82 closed

[2021-04-05 20:42] Marie-L commented on #92
**Here are my ideas for team structure :**

1. All decisions must be signed off by the work group leads @AbigailDogbe & @kittylon
2. The Global Council leads @julianafalves @cecivieira should be involved in developing strategies
3. everyone must be involved in finding content each week to share across social media
2. everyone should aim to engage with (like, RT etc) a few social media posts a mont

[2021-04-05 20:48] Marie-L opened #93 "Ownership for weekly tasks"
**Summary**

We need to ensure that everyone is involved in working on the following weekly tasks:

- [ ] finding content to post across social media platforms
- [ ] responding to new requests
- [ ] adding new blog posts
- [ ] contacting members to write content for our blog

**Acceptance Criteria**

a list of tasks with owners

**Do you want to work on this issue (Yes/No)?**

everyone should get

[2021-04-05 20:58] Marie-L commented on #93
# Weekly Tasks

Weekly task | Owner | Should be completed by every ...? |
| --| --| --|
|Schedule posts on instagram, twitter, facebook||Sunday|
|Post on Linkedin |||
|Check and respond to comms inbox|||
|Find content to share on socials|||
|Lead weekly meetings and create agenda|||
|create new campaigns|||
||||
||||
||||
||||
||||
||||
||||
||||
||||
||||
||||
||||
||||
||||
||||
||||

[2021-04-05 21:02] Marie-L opened #94 "Meeting notes : TEMPLATE"
# Comms Weekly Hack Session

- Date:
- Previous meeting minutes:
- Meeting Lead(s):
- Notetaker:
- Current meeting attendees:

### Team Updates

- Calendar:
- Social media requests:
- Email requests :
- Blog updates :
- Project board updates :

### Review Actions Items from Last Meeting

Action Item| Owner | Relevant links |
| --| --| --|
||||
||||
||||
||||

### New Business

- [ ]
- [ ]
- [ ]
-

[2021-04-06 19:51] Marie-L commented on #76
UPDATE:

_We are proud to announce that the 10th Annual PyLadies Auction at #PyCon2021 will be held virtually ! A crowd favorite filled with fun, charity and competition ! Add your ticket to your registration today! https://us.pycon.org/2021/registration/information/

More details here: https://us.pycon.org/2021/events/auction/ #PyLadies_

[2021-04-12 20:50] kittylon commented on #76
Hi @Marie-L

Is it ok to post now?
To confirm the dates in the canvas image:

may 8th  15th 2021 19:00 ET

[2021-04-13 18:19] Marie-L commented on #76
Hey @kittylon, I still need to confirm some details. Can you please wait until I update this issue with the updated graphics etc ? Thanks 😊

[2021-04-13 18:20] kittylon commented on #76
Sure I will wait for your confirmation :)

[2021-04-13 18:49] Marie-L commented on #90
Hey everyone, can you please share the details of who you'll post next in this issue? So that @AbigailDogbe can share it on LinkedIn too. Thanks !

[2021-04-13 19:53] Marie-L commented on #76
![PyLadies_auction_pycon (4)](https://user-images.githubusercontent.com/27898533/114612065-8fb70e00-9c99-11eb-86a0-4aa23524bb7a.gif)
![PyLadies_auction_pycon (1)](https://user-images.githubusercontent.com/27898533/114612392-fccaa380-9c99-11eb-9590-9ddd53e62116.png)

@kittylon Here are the most up-to-date graphics, but I'm still waiting for some stats for the caption so can you please wait a bit lo

[2021-04-23 15:27] kittylon commented on #76
Hello,

can I still post with without the stats?

[2021-04-26 22:54] Marie-L commented on #76
Hey @kittylon, sorry I've just seen your last comment. I've got that stats now but I'm not sure if I should share it on github so I'll email it to you instead

[2021-04-26 23:17] Marie-L commented on #76
copy UPDATE:

_We are proud to announce that the 10th Annual PyLadies Auction  at @pycon will be held virtually!  A crowd favorite filled with fun, charity and competition !_

_Historically, we have used funds raised to support our worldwide community to thrive. Add your ticket to your registration today! https://us.pycon.org/2021/registration/information/ #PyLadies #PyCon2021_

[2021-04-26 23:54] Marie-L commented on #76
@kittylon I've made the first post, let's work together to post the second one before the end of the week. Thanks for your help 🙏

[2021-05-03 17:05] kittylon commented on #94
Template already in use

[2021-05-03 17:05] #94 closed

[2021-05-03 17:06] #87 closed

[2021-05-04 20:29] Marie-L commented on #76
2nd post

copy UPDATE:

A few more days left until the 10th Annual PyLadies Auction at @PyCon ! In 2019 we raised almost $50,000, join us to raise more this year for our worldwide community 🌍 ! Add the auction ticket to your registration today! https://us.pycon.org/2021/registration/information/

[2021-05-04 20:50] Marie-L commented on #76
@kittylon I've just posted, when you have time can you please use the stats to make another similar post this week ? I will also aim to post again before saturday. Thanks for your help 🙏

[2021-05-27 09:06] kittylon commented on #90
Hi Marie-Lou, sorry I had my notifications set up misconfig and I recently read this.

Is this still too late to answer?

[2021-05-27 09:59] AbigailDogbe commented on #90
Hello @kittylon I don't think it is too late.

[2021-05-27 12:42] AbigailDogbe commented on #90
@kittylon I would need a caption for the talk. Thank you!

[2021-05-27 14:23] kittylon commented on #90
Sure, it's

`Today we feature Mariata's talk "Intro to Documentation using Sphinx and reStructuredtext" from our youtube series Meet The PyLadies IWD 2021 Special! #PyLadies`

let me know if you need anything else :)

[2021-05-28 00:27] Marie-L commented on #90
@AbigailDogbe no worries, thanks for your help everyone 🙏

[2021-05-28 20:10] #76 closed

[2021-05-28 20:12] Marie-L commented on #83
Hey @lorenanicole , Twitter have just are taking [verification requests again](https://twitter.com/verified/status/1398359044054790153?s=20). When you have time can you please apply ?

[2021-05-28 20:39] lorenanicole commented on #83
You got it!

On Fri, May 28, 2021 at 3:12 PM Marie-Louise ***@***.***>
wrote:

--
__________________________________________________________________
*Lorena Mesa*
Data Engineer
Software Intelligence Systems

Pronouns: she/her/hers Say what?
<http://feministing.com/2015/02/03/how-using-they-as-a-singular-pronoun-can-change-the-world/>

[2021-05-28 20:54] Marie-L commented on #83
Thanks so much @lorenanicole 💖 !

[2021-05-28 21:49] kittylon commented on #90
Toda's post:
[code]

[2021-05-30 19:48] kittylon commented on #90
today's post:
[code]

[2021-05-30 20:16] kittylon commented on #90
Not sure why, but apparently didn't click on comment:

@AbigailDogbe
And tomorrow's one:
[code]
All the necessary images can be found here:
https://drive.google.com/drive/folders/1z_dP4ucLgXMNMLZPxsjcYjEWhbONc3qs

I will be offline this weekend, If you need anything else, you can contact us via slack

happy weekend!

[2021-06-01 21:50] kittylon commented on #90
Today's post:
[code]

[2021-06-01 21:51] Marie-L opened #96 "Pride Month 2021"
Hi Ladies,

Today is the first day of Pride month, what are your ideas on how we can celebrate this across our platforms ?

[2021-06-01 22:14] kittylon commented on #96
Hi Marie-Lou,

Tomorrow we have a session, I will reply the outcome to this thread ;)

I'm pretty sure it's a post, so probably will add it here once it's done

[2021-06-03 20:13] Marie-L commented on #96
Thanks @kittylon, I really appreciate you 😊🙏 !

[2021-06-03 20:15] Marie-L commented on #96
Also what do you think about adding pride flag banner on all of our platforms ?

[2021-06-03 21:15] kittylon commented on #96
I'm up for it.

Regarding the meeting it did not take place due to a very unfortunate situation.

I will get back to you on saturday

[2021-06-03 21:52] kittylon commented on #96
I got inspired and put this toguether in canva:

![Fight bigotry and hatred](https://user-images.githubusercontent.com/5789321/120716670-a83beb80-c4c6-11eb-85df-27cda866a1f2.png)
What do you think?

[2021-06-04 07:54] Marie-L commented on #96
Love it, thank you @kittylon ! I'll ping you on slack to arrange a catch up 😊

[2021-06-04 13:54] kittylon commented on #96
alright!

[2021-06-05 20:40] kittylon commented on #90
Today's post
[code]

[2021-06-05 20:41] kittylon commented on #90
I missed four days of comments 😔

should I also add them here? @AbigailDogbe ?

Apologies for not being consistent on commenting them here

[2021-06-09 15:32] julianafalves commented on #96
Hello all, I just saw this issue, I love your image Carolina <3. I also got inspired and made this image on canva:

<img width="810" alt="pride_month" src="https://user-images.githubusercontent.com/49698966/121384455-aa66d580-c91e-11eb-9804-94ec84658458.png">

[2021-06-09 20:22] kittylon commented on #96
@lorenanicole can you please help us changing the twitter banner? 🙏🏻
![PRIDE 2021_banner](https://user-images.githubusercontent.com/5789321/121424047-31449e00-c971-11eb-854e-64470853f64e.png)

[2021-06-16 21:43] julianafalves opened #97 "Monthly Comms Team Meeting: June 16th 2021"
**Date:** 2021-06-16

**Meeting attendees:** @julianafalves, @cecivieira

Notetaker: @julianafalves

### **Team Updates**

- Calendar: Nothing new
- Social media requests: Nothing new → who has access to the social media requests
- Email requests: Nothing new
- Blog updates: Nothing new
- Project board updates: Nothing new

### Discussions:

- [ ]  Social Media manager platform → Needs @kittylon

[2021-06-21 21:19] kittylon commented on #90
All post have been posted

[2021-06-21 21:19] #90 closed

[2021-06-25 16:00] tdavis0831 opened #98 "Request to Join Project Communications: <GitHub Handle>"
_This template should be used (edited) for PyLadies members that wish to join the Project Communications team.

**Proposed Team Member Details**

Name Tasha Davis (tdavis0831@yahoo.con)| GitHub Handle tdavis0831| PyLadies Chapter NYC (New and still learning) | Team Role
| --| --| --|

**Why do you want to join the PyLadies Project Communications team?**
I am currently teaching myself coding and wi

[2021-07-13 00:03] #96 closed

[2021-07-22 09:58] nasianikolaou opened #99 "Request to Join Project Communications: <nasianikolaou>"
_This template should be used (edited) for PyLadies members that wish to join the Project Communications team.

**Proposed Team Member Details

Athanasia Nikolaou | nasianikolaou | PyLadies Berlin | member
| --| --| --|

**Why do you want to join the PyLadies Project Communications team?**

I am interested in connecting different amateur communities and introducing newcomers to python and open sou

[2021-07-27 14:51] julianafalves opened #100 "Bi-Monthly Comms Team Meeting: July 14th 2021"
**Date:** 2021-07-14

**Meeting attendees:** @julianafalves, @kittylon

Notetaker: @julianafalves

### **Team Updates**

- Calendar: Nothing new
- Social media requests: Nothing new
- Email requests : Nothing new
- Blog updates : Nothing new
- Project board updates : Nothing new

### Discussions:

- [x]  Social Media manager plataform → Needs @Carolina Londono review
- [ ]  Find the right colors f

[2021-07-27 16:55] julianafalves opened #101 "Set color palette to post on social media and blog (when images are used)"
The comms team would like to set a color palette to improve Pyladies branding on social media.

[2021-07-28 20:20] Marie-L commented on #100
This looks great ! The colours can be found on our canva account. Please let me know if you need help finding them. Thanks 😊